h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 1.9em;
}

body {
  font-family: Lato, serif;
  background-color: $body-color;
  margin: 0;
  font-size: 1.175rem;
}

:root {
  line-height: 1.428;
}

em {
  text-decoration: underline;
  font-style: normal;
}