@mixin breakpoint($breakpoint, $direction) {
  @if($direction == "down") {
    @media (max-width: map_get($grid-breakpoints, $breakpoint) - .02){
      @content;
    }
  }
  @else if($direction == "up") {
    @media (min-width: map_get($grid-breakpoints, $breakpoint)){
      @content;
    }
  }
  @else {
    @warn "Wrong Direction!";
  }
}

@mixin breakpoint-up($breakpoint) {
  @include breakpoint($breakpoint, "up") {
    @content;
  }
}

@mixin breakpoint-down($breakpoint) {
  @include breakpoint($breakpoint, "down") {
    @content;
  }
}

@mixin col($i) {
  flex-basis: percentage(1 / 12 * $i);
}

@mixin icon($name, $weight: regular) {

  @if($weight == solid) {
    font-weight: 900;
  }

  @if($weight == brands) {
    font-weight: 400;
  }

  @if($weight == regular) {
    font-weight: 400;
  }

  font-family: "Font Awesome 5 Free", sans-serif;
  content: map_get($icons, $name);
}