// --------- Colors ----------
$blue:    darken(#007bff, 5%) !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     darken(#dc3545, 5%) !default;
$orange:  darken(#fd7e14, 5%) !default;
$yellow:  #ffc107 !default;
$green:   darken(#28a745, 5%) !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$black: #000 !default;

$gray-5:  lighten($black, 5%);
$gray-10: lighten($black, 10%);
$gray-15: lighten($black, 15%);
$gray-20: lighten($black, 20%);
$gray-25: lighten($black, 25%);
$gray-30: lighten($black, 30%);
$gray-35: lighten($black, 35%);
$gray-40: lighten($black, 40%);
$gray-45: lighten($black, 45%);
$gray-50: lighten($black, 50%);
$gray-55: lighten($black, 55%);
$gray-60: lighten($black, 60%);
$gray-65: lighten($black, 65%);
$gray-70: lighten($black, 70%);
$gray-75: lighten($black, 75%);
$gray-80: lighten($black, 80%);
$gray-85: lighten($black, 85%);
$gray-90: lighten($black, 90%);
$gray-95: lighten($black, 95%);

$white:   #fff;

$body-color: lighten($gray-95, 2%);

// --------- Grids ----------
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1170px,
    xxl: 1300px
);

// --------- Typography ----------
$font-size-logo: 5rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2.25rem;
$font-size-h3: 2rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.50rem;
$font-size-h6: 1.25rem;

$text-lg: 1.5rem;
$text-md: 1.30rem;
$text-sm: 1.15rem;

$icons: (
        "arrow-left":   "\f104",
        "arrow-right":  "\f105",
        "arrow-up":     "\f106",
        "arrow-down":   "\f107",
        "dna":          "\f471",
        "flask":        "\f0c3",
        "flag":         "\f024",
        "cross":        "\f00d",
        "check":        "\f00c",
        "square":       "\f0c8",
        "square-check": "\f14a",
        "sheet":        "\f15c",
        "seedling":     "\f4d8",
        "home":         "\f015",
        "calendar":     "\f073",
        "sliders":      "\f1de",
        "times":        "\f00d",
        "buffer":       "\f837",
        "arrow-d-left": "\f100",
        "arrow-d-right":"\f101",
        "user":         "\f007",
        "calendar-check":"\f274",
        "info-circle":  "\f06a",
        "angry":        "\f556",
        "suprise":      "\f5c2",
        "meh":          "\f11a",
        "smile":        "\f118",
        "question":     "\f059",
        "trash":        "\f2ed",
        "edit":         "\f044",
        "editor":       "\f00a",
        "plus-square":  "\f0fe",
        "eye":          "\f06e",
        "eye-slash":    "\f070",
        "dollar":       "\f155",
        "tag":          "\f02b",
        "pencil":       "\f303",
        "circle":       "\f1ce",
        "spin":         "\f110"
);
