.answer {
  display: block;
  margin-top: 1rem;
  border-top: 1px solid $gray-80;
  padding: .5rem 0;

  &-title {
    font-weight: normal;
  }

  &-container {
    margin-top: 1rem;

    .answer + .answer {
      margin-top: 2rem;
    }
  }

  &-table {
    margin-top: .5rem;
  }

  &-text {
    margin-bottom: .5rem;
    > p {
      margin: 0;
      display: inline;
    }
  }
}
