.article {
  background-color: $white;
  border-bottom: 1px solid $gray-85;
  border-top: 1px solid $gray-85;
  border-collapse: collapse;
  padding: 1em 1.5em;

  &-body ul li {
    margin-bottom: .5rem;
  }

  &-no-gutters-top {
    padding-top: 0;
    & > .article-header {
      margin-top: 1rem;
    }
  }

  &-header + &-body, &-header + &-header {
    margin-top: .75em;
  }

  &-header-body-glued + &-body {
    margin-top: 0;
  }

  &-header {
    &-has-number {
      display: flex;
    }
    &.article-header-no-margin {
      margin-bottom: 0;
    }
  }

  &-title {
    align-self: baseline;
    &-under-text {
      font-weight: normal;
      font-size: .7em;
    }
  }

  &-number {
    align-self: baseline;
    font-size: 1.9rem;
    line-height: 1;
    padding: .3rem .6rem;
    border-radius: 2px;
    color: $white;
    + .article-title {
      margin-left: .5rem;
    }

    &-primary {
      background-color: lighten($blue, 0%);
    }

    &-secondary {
      background-color: lighten($green, 0%);
    }
  }

  &-text {
    margin: 0;

    &-intended {
      p:first-of-type {
        margin: 0;
      }
    }

    &-intended:first-of-type {
      text-indent: 1rem;
      p {
        display: block;
        text-indent: 1rem;
      }
    }
  }

  &-primary {
    margin: 2rem 0 0 0;
  }

  &-secondary {
    margin: 1rem 0 0 0;
  }

  &-button-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    &-big {
      padding: 1rem 0;
    }
    &-no-gutters {
      margin: 0;
    }
  }

  &-button {
    display: block;
    margin-right: .5rem;
  }

  &-image {
    width: 100%;

    &-container {
      width: 70%;
      margin-top: 1rem;
      position: relative;
      border: 1px solid $gray-80;
      cursor: pointer;
      &:before {
        z-index: 4;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
      }

      &-half {
        width: 50%;
      }

      transition: width .7s ease-in-out;

      &.is-zoomed {
        width: 100% !important;
      }
      &.is-hidden {
        display: none;
      }
      &.is-expanded {
        display: block;
      }
    }
  }

}

.article-list {
  .article:not(:last-child) {
    border-bottom: 0;
  }
}