.breadcrumb {
  color: $white;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: $white;
  list-style-type: none;
  font-size: 1.1em;
  border-top: 3px solid lighten($blue, 10%);
  border-left: 1px solid $gray-85;
  border-right: 1px solid $gray-85;
  border-bottom: 1px solid $gray-85;

  &-icon {
    margin-right: .4em;
    &:after {
      border-right: 1px solid $white;
      margin-left: .5em;
      content: "";
    }
  }

  &-link {
    text-decoration: none;
    color: $white;
  }

  &-item {
    display: inline-block;
    position: relative;
    background-color: $blue;
    padding: .5em;
    margin: 12px;

    &:not(:first-child) {
      background-color: lighten($blue, 10%);
      padding-left: .2em;
      padding-right: .6em;
    }

    &:before, &:after {
      position: absolute;
      border-width: 1.575rem .575rem;
      border-style: solid;
      border-color: $blue;
      content: "";
      top: 0;
      bottom: 0;
    }

    &:first-child {
      &:before {
        display: none;
      }

      &:after {
        border-left-color: $blue;
      }
    }


    &:after {
      border-color: lighten($blue, 10%);
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      right: -1.125rem;
    }

    &:before {
      border-color: lighten($blue, 10%);
      border-left-color: transparent;
      left: -1.125rem;
    }

    &.selected {
      text-decoration: underline;
    }
  }
}