.button {

  background: none;
  border-width: 2px;
  border-style: solid;
  padding: .7rem 1rem;
  font-size: 1em;
  cursor: pointer;

  &-widther {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &-primary {
    border-color: $blue;
    color: $blue;
  }
  &-secondary {
    border-color: $green;
    color: $green;
  }
  &-danger {
    border-color: $red;
    color: $red;
  }

  &-inline {
    color: $white;

    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 5px;

    &.button-primary {
      border-bottom-color: $blue;
      background-color: lighten($blue, 10%);
    }
    &.button-danger {
      border-bottom-color: $red;
      background-color: lighten($red, 10%);
    }
    &.button-secondary {
      border-bottom-color: $green;
      background-color: lighten($green, 10%);
    }
  }


}