.calendar-bar {
  border-width: 0;
  border-bottom-width: 3px;
  border-style: solid;
  color: $black;
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 0;
  padding-left: 0;

  &.calendar-bar-primary {
    border-color: $blue;
    background-color: lighten($blue, 10%);
    color: $white;

    & .calendar-bar-icon {
      border-color: $white;
    }

    & .calendar-bar-item {
      &:not(:last-child):after {
        border-color: $blue;
      }
    }
  }

  &.calendar-bar-secondary {
    border-color: $green;
    background-color: lighten($green, 10%);
    color: $white;

    & .calendar-bar-icon {
      border-color: $white;
    }

    & .calendar-bar-item {
      &:not(:last-child):after {
        border-color: $green;
      }
    }
  }

  &-icon {
    padding: .5rem 1rem;
    border-right: 2px solid $black;
  }

  &-item {
    padding: .5rem 1rem;
    position: relative;
    cursor: pointer;

    &:not(:last-child):after {
      position: absolute;
      border-right: 1px solid $black;
      top: 7px;
      bottom: 7px;
      right: 0;
      content: "";
    }

    &.selected:before {
      position: absolute;
      border-color: $white;
      border-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-width: 12px 15px;
      content: "";
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:not(.selected):hover:before {
      position: absolute;
      border-color: $white;
      border-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-width: 12px 15px;
      content: "";
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      opacity: .2;
    }

  }
}