.card {
  background: white;
  border-bottom: 1px solid $gray-85;
  border-top: 1px solid $gray-85;

  &-header {
    &-inline {
      margin: .75em .75em 0 .75em;
    }
  }

  &-outline {
    border: 1px solid $gray-85;
    border-collapse: collapse;
  }

  &-no-outline {
    border: none;
  }

  &-body {
    margin: .75em;
    padding: .5em;

    &-outline {
      padding: .75em 1em;
      border: 1px solid $gray-85;
    }

    &-no-gutters {
      padding: 0;
    }
  }

  &-primary {
    margin-top: 1em;
  }

  &-button {
    padding: .75em;
    width: 100%;
    font-size: 1em;
    display: block;
  }

}

.card-container {
  .card-media:first-child {
    @include breakpoint-up(xl) {
      margin-right: 1em;
    }
  }
}