.checkmark {
  margin-left: .5rem;
  padding: .5rem;
  color: $white;
  border: none;
  font-size: 1em;

  &-icon {
    padding-right: .4rem;
  }

  &-check {
    background-color: $orange;
  }

  &-correct {
    background-color: $green;
  }

  &-wrong {
    background-color: $red;
  }

  &-container {
    margin-top: 1rem;
    margin-left: -.5rem;
  }
}