.filters {
  background-color: $white;
  border-top: none;
  @include breakpoint-down(xl) {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }

  &-title {
  }

  &-wrapper {
    margin-right: 1rem;
    margin-top: 1rem;
    z-index: 4;
    align-self: baseline;
    border: 1px solid $gray-85;
    transition: left .5s;
    box-sizing: border-box;

    @include breakpoint-down(xl) {
      position: fixed;
      top: 0;
      margin-top: 0;
      left: -415px;
      width: 410px;
      box-shadow: 0 0 5px $gray-10;
      height: 100%;
    }

    &.is-expanded {
      left: 0;
    }
  }

  &-icon {
    margin-right: 1rem;
    position: relative;
    padding: 0 1rem 0 .6rem;

    &:after {
      border-right: 1px solid $white;
      content: '';
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
    }

  }

  &-body {
    margin-top: 0;
    margin-bottom: 0;
  }

  &-filters {
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    &-title {
      margin-top: 1rem;
      border-bottom: 1px solid $gray-80;
      padding-bottom: 1rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &-mobile-toggler {
    position: absolute;
    background-color: rgba($black, 0.7);
    right: -30px;
    bottom: 30px;
    width: 4.5rem;
    font-size: 3rem;
    text-align: center;
    @include breakpoint-up(xl) {
      display: none;
    }
    &:after {
      color: $white;

      @extend .icon;
      @include icon("sliders", "solid");
    }
    &:hover {
      cursor: pointer;
    }
    .is-expanded &:after {
      @include icon("times", "solid");
    }
    transform: translate(100%, 0%);
  }

  &-toggler-container {
    position: relative;
  }

  &-list {
    list-style: none;
    position: relative;
    margin: 0 0 1rem 1rem;
    padding: 1rem 2rem .1rem 1rem;
    align-self: baseline;

    border-left: 1px solid $gray-80;

    &-item {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: .6em;
        left: -1.3rem;
        height: 1px;
        width: 10px;
        background-color: $gray-80;
      }
    }

    & .filters-list {
      overflow-y: hidden;
      height: auto;
      padding: 1rem 0 .1rem 1rem;
      margin-bottom: 1rem;
      margin-left: .7em;

      &:last-child {
        margin-bottom: 1rem;
      }

    }

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  &-expand-toggler.expand-toggler {
    position: absolute;
    font-style: normal;
    font-size: 1.4em;
    right: -2.1rem;
    top: 50%;
    padding: 0 .7rem;
    transform: translateY(-50%);
    color: $gray-20;
    cursor: pointer;
    @extend .icon;
    @extend .icon-arrow-down;

    &.is-expanded {
      @extend .icon-arrow-up;
    }


    &-container {
      position: relative;
    }
  }

  &-expand-target.expand-target {
    max-height: 0 !important;
    transition: max-height .8s ease-out;
    overflow-y: hidden;

    &.is-expanded {
      max-height: 500px !important;
    }
  }

  &-buttons {
    border-top: 1px solid $gray-80;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    position: sticky;
    bottom: 0;
    background-color: $white;
    justify-content: center;

  }

  &-button {
    font-size: 1em;
    flex-basis: 50%;
    &:first-child {
      margin-right: 1rem;
    }
  }
}