.form {
  &-container {
    padding: 1rem 0;
  }
  &-ajax {

  }

  &-reset {

  }
}

.input-checkbox-container {
  display: block;
  position: relative;
  padding-left: 2em;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* On mouse-over, add a grey background color */
  &:hover .input-checkbox ~ .input-checkmark:after {
    opacity: .5;
  }

  /* When the checkbox is checked, add a blue background */
  & .input-checkbox:checked ~ .input-checkmark {
  }

  /* ShowBySlug the checkmark when checked */
  & .input-checkbox:checked ~ .input-checkmark:after {
    opacity: 1;
  }

  & .input-checkbox.success ~ .input-checkmark {
    border: 2px solid lighten($green, 10%);
  }

  & .input-checkbox.failure ~ .input-checkmark {
    border: 2px solid lighten($red, 10%);
  }

  & .input-checkbox.failure ~ .input-checkmark:after {
    border-color: lighten($red, 10%);
  }

  & .input-checkbox.proposed ~ .input-checkmark {
    border: 2px solid lighten($blue, 10%);
  }

  & .input-checkbox.proposed ~ .input-checkmark:after {
    border-color: lighten($blue, 10%);
  }

  /* Style the checkmark/indicator */
  & .input-checkmark:after {
    display: block;
    opacity: 0;
    left: .3em;
    top: .0em;
    width: .45em;
    height: .85em;
    border: solid lighten($green, 10%);
    border-width: 0 .25em .25em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Hide the browser's default checkbox */
  & .input-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }


}
/* CreateValidator a custom checkbox */
.input-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.225em;
  width: 1.225em;
  border: 1px solid $gray-70;

  /* CreateValidator the checkmark/indicator (hidden when not checked) */
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}


.input-checkbox-toggler {
  transition: all .3s;
}

.input {
  &-group {
    .input-multiple-text-container:last-of-type:after {
      content: ".";
    }
  }

  &-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  &-singular-text {
    border: none;
    font-size: 1em;
    text-align: center;
    padding: .4rem;
    border-bottom: 2px dotted $black;
    background-color: transparent;
    width: 7em;

    &.half {
      width: 3.5em;
    }
    &.three {
      width: 10.5em;
    }
    &.four {
      width: 14em;
    }

    &.success {
      border-bottom-color: lighten($green, 10%);
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    &.failure {
      border-bottom-color: lighten($red, 10%);
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    &.proposed {
      border-bottom-color: lighten($blue, 10%);
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }

    &-container {
      display: block;
      margin-top: 1rem;
      margin-bottom: .5rem;
    }
  }

  &-multiple-text {
    border: none;
    font-size: 1em;
    text-align: center;
    padding: .4rem;
    border-bottom: 2px dotted $black;
    background-color: transparent;
    width: 7em;

    &.half {
      width: 3.5em;
    }
    &.three {
      width: 10.5em;
    }
    &.four {
      width: 14em;
    }

    &.success {
      border-bottom-color: lighten($green, 10%);
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    &.failure {
      border-bottom-color: lighten($red, 10%);
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    &.proposed {
      border-bottom-color: lighten($blue, 10%);
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }

    &-container {
      margin-top: 1rem;
      margin-bottom: .5rem;
    }
  }

  &-singular-letter {
    font-size: 1em;
    text-align: center;
    padding: .4rem;
    border: 1px solid $gray-80;
    background-color: transparent;
    width: 2em;
    display: inline;
    &-container {
      display: block;
      margin-top: 1rem;
      margin-bottom: .5rem;
    }
    &.success {
      border-color: lighten($green, 10%);
      border-width: 2px;
    }
    &.failure {
      border-color: lighten($red, 10%);
      border-width: 2px;
    }
    &.proposed {
      border-color: lighten($blue, 10%);
      border-width: 2px;
    }
    &.half {
      width: 1.4em;
    }
    &.three {
      width: 3em;
    }
    &.four {
      width: 4em;
    }
  }

  &-multiple-letter {
    font-size: 1em;
    text-align: center;
    padding: .4em;
    border: 1px solid $gray-80;
    width: 2em;
    display: inline;
    &-container {
      display: inline;
      margin-top: 1rem;
      margin-bottom: .5rem;
    }
    &.success {
      border-color: lighten($green, 10%);
      border-width: 2px;
    }
    &.failure {
      border-color: lighten($red, 10%);
      border-width: 2px;
    }
    &.proposed {
      border-color: lighten($blue, 10%);
      border-width: 2px;
    }
    &.half {
      width: 1.4em;
    }
    &.three {
      width: 3em;
    }
    &.four {
      width: 4em;
    }
  }

  &-admin-text {
    display: block;
    padding: .5rem;
    font-size: .8em;
    width: 100%;
    margin-top: .5rem;
  }

  &-container:not(:first-child) {
    margin-top: 1rem;
  }

  &-container {
    display: block;
  }

  &-radio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $gray-95;

    &-checkmark {
      display: none;
    }

    &-text {
      color: $black;
      padding: 1rem;
      display: block;
    }

    &-checkmark:checked + .input-radio {
      background-color: lighten($green, 10%);
    }

    &-checkmark.proposed:checked + .input-radio {
      background-color: lighten($blue, 10%);
    }

    &-checkmark:not(:checked):hover + .input-radio {
      background-color: $gray-85;
    }

    &-checkmark:checked + .input-radio + .input-radio-text {
      color: $white;
    }

    &-checkmark.failure + .input-radio + .input-radio-text {
      background-color: lighten($red, 10%);
      color: $white;
    }

    &-container {
      cursor: pointer;
      position: relative;
      display: block;
      z-index: 2;
    }

    &-container + &-container {
      border-top: 1px solid $gray-80;
    }

  }

  &-upload {
    display: block;
    margin-top: .5rem;
    cursor: pointer;
  }

}

.input-sup {
  transform: translateY(-.7em);
  font-size: .8em;
  padding: .1em;
}

.input-sub {
  transform: translateY(.4em);
  font-size: .8em;
  padding: .1em;
}

.ajax-loader {
}

.input-radio-container, .input-multiple-text-container, .input-singular-text-container, .input-singular-letter-container, .input-multiple-letter-container {
  p {
    margin: 0;
    display: inline;
  }
}