.header-main {
  position: relative;
  color: white;
  background: darken($blue, 25%);
  z-index: 1;
  text-shadow: 0 0 5px black;
  box-shadow: inset 0 0 5px black;

  &-logo {
    font-family: Ranchers, serif;
    text-align: center;
    z-index: 1;
    font-size: 5rem;
    padding: .5rem 0 0 0;
  }
  &-description {
    text-align: center;
    z-index: 1;
    margin: 0;
    padding: 0 0 1rem 0;
  }
  &-image {
    position: absolute;
    background: url("../../images/header-hexagonals.jpg") no-repeat center top;
    background-size: 100% auto;
    opacity: .05;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}