.icon {

  font-style: normal;
  font-size: 1em;

  &-flask:before {
    @include icon("flask", "solid");
  }
  &-dna:before {
    @include icon("dna", "solid");
  }
  &-flag:before {
    @include icon("flag", "solid");
  }
  &-sheet:before {
    @include icon("sheet", "solid");
  }
  &-seedling:before {
    @include icon("seedling", "solid");
  }
  &-home:before {
    @include icon("home", "solid");
  }
  &-calendar:before {
    @include icon("calendar", "solid");
  }
  &-arrow-down:before {
    @include icon("arrow-down", "solid");
  }
  &-arrow-up:before {
    @include icon("arrow-up", "solid");
  }
  &-sliders:before {
    @include icon("sliders", "solid");
  }
  &-times:before {
    @include icon("times", "solid");
  }
  &-buffer:before {
    @include icon("buffer", "brands");
  }
  &-user:before {
    @include icon("user", "solid");
  }
  &-calendar-check:before {
    @include icon("calendar-check", "regular");
  }
  &-info-circle:before {
    @include icon("info-circle", "solid");
  }
  &-smile:before {
    @include icon("smile", "regular");
  }
  &-angry:before {
    @include icon("angry", "regular");
  }
  &-meh:before {
    @include icon("meh", "regular");
  }
  &-suprise:before {
    @include icon("suprise", "regular");
  }
  &-question:before {
    @include icon("question", "regular");
  }
  &-check:before {
    @include icon("check", "solid");
  }
  &-pencil:before {
    @include icon("pencil", "solid");
  }
  &-show:before {
    @include icon("eye", "solid");
  }
  &-hide:before {
    @include icon("eye-slash", "solid");
  }
}