.mini-link {
  &-go {
    @extend .icon;
    text-decoration: none;
    color: $white;
    background-color: lighten($blue, 10%);
    padding: .2rem .9rem;
    &:before {
      @include icon("arrow-right", "solid");
    }
  }
}