.minimal-card {
  box-shadow: 0 0 5px $gray-70;
  border: 5px solid;
  border-top-style: none;
  position: relative;

  &.minimal-card-primary {
    color: darken($blue, 10%);
    border-color: lighten($blue, 10%);

    .minimal-card-header {
      background-color: lighten($blue, 10%);
    }

    .minimal-card-body {
      color: darken($blue, 20%);
    }

    .minimal-card-title {
      text-shadow: 1px 1px 2px lighten($blue, 40%);
    }

    .minimal-card-button {
      @extend .button-primary;
      color: $white;
    }
  }

  &.minimal-card-secondary {
    color: darken($green, 10%);
    border-color: lighten($green, 10%);

    .minimal-card-header {
      background-color: lighten($green, 10%);
    }

    .minimal-card-body {
      color: darken($green, 20%);
    }

    .minimal-card-title {
      text-shadow: 1px 1px 2px lighten($green, 40%);
    }

    .minimal-card-button {
      @extend .button-secondary;
      color: $white;
    }
  }

  &-header {
    text-align: center;
  }

  &-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1;
    font-size: 5rem;
  }

  &-media {
    @include breakpoint-up(xl) {
      margin-right: 1rem;
    }
  }

  &-body {
    display: flex;
    justify-content: center;
    padding: 4rem .5rem;
    border: 5px none;
    color: darken($blue, 20%);
    background-color: $white;
  }

  &-option {
    padding: 0 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &-footer {
    padding: 0 1rem 1rem;
    display: flex;
    background-color: $white;
  }

  &-button {
    font-size: 1.5rem;
    width: 100%;
    display: block;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
    text-decoration: none;
  }

  &-article {

  }

  &-number {
    font-size: 3rem;
    font-weight: bold;
  }

  &-description {
    font-size: 1.1rem;
  }

  &-icon-loading {
    position: relative;
    @extend .icon;
    &:after {
      position: absolute;
      animation: spin 1s infinite linear;
      @include icon("spin", "solid");
      left: 0;
      transform: translateX(-50%);
    }
    &:before {
      @include icon("spin", "solid");
      opacity: 0;
    }
  }
}

.minimal-cards {
  .minimal-card:not(:first-child) {
    @include breakpoint-down(xl) {
      margin-top: 1rem;
    }
  }
  margin-top: 1rem;
}

@-webkit-keyframes spin {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}