.mini-statistic {
  position: relative;
  display: flex;
  border: 1px solid $gray-80;
  border-radius: 0 0 5px 5px;

  &-icon, &-value {
    padding: .5rem;
    border-top: none;
  }

  &-right {
    @include breakpoint-up(xl) {
      margin-left: auto !important;
    }
  }

  &-icon {
    border-right: none;
    padding-right: .7rem;
    padding-left: .7rem;
    background-color: $gray-90;
    color: $black;
    display: flex;
    border-bottom-left-radius: 5px;
    &:hover {
      .mini-statistic-icon-description {
        transition: max-width .8s .1s ease-in-out, margin-left ease-in-out .2s;
        margin-left: .7rem;
        max-width: 250px;
      }
    }
    &-description {
      display: inline-block;
      max-width: 0;
      overflow-x: hidden;
      white-space: nowrap;
      transition: max-width .8s ease-in-out, margin-left ease-in-out .2s .7s;
    }
  }
  &-value {
    color: $gray-5;
  }

  &-container {
    margin-top: -21px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1rem;

    .mini-statistic {
      margin-left: 1rem;
      margin-top: 20px;
    }
  }
}