.mini-cards {

  &-header {

  }

  &-stats {
    margin-top: 1rem;
  }

  &-body {
    display: none;
    &-title {
      margin-top: .2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: .5rem;
      border-bottom: 1px solid $gray-80;
      font-weight: normal;
    }
    &.is-visible {
      display: block;
      animation: 500ms fadetop;
    }
    &-list {

    }
  }

  & &-button {
    width: 100%;
    display: block;
    font-size: 1em;
    margin-top: 1rem;
    padding: 1rem 1rem;
  }

}