.mini-question {
  display: flex;
  flex-direction: row;
  border: 1px solid $gray-80;
  padding: .5rem;
  &-number {
    display: inline-block;
    color: $white;
    background-color: lighten($blue, 10%);
    padding: .2rem .6rem;
    align-self: center;
    font-weight: bold;
  }

  &-content {
    display: flex;
    flex-basis: 100%;
    padding-left: .5rem;
    align-self: center;
    span {
      display: inline;
      & + span {
        padding-left: 2rem;
      }
    }
  }

  &-stat {
    width: 100%;
    margin: 0 1rem;
    &.stat-primary {
      & .stats-progress-bar {
        background-color: lighten($blue, 10%);
        border-color: $blue;
        &:after {
          border-left-color: $blue;
        }
      }
      .active {
        background: repeating-linear-gradient(
                        45deg,
                        lighten($blue, 5%),
                        lighten($blue, 5%) 10px,
                        lighten($blue, 10%) 10px,
                        lighten($blue, 10%) 20px
        );
        background-size: 200% 200%;
        animation: barberpole 10s linear infinite;
      }
    }

  }

  &-stat-title {
    white-space: nowrap;
  }

  &-title {
    font-weight: bold;
    white-space: nowrap;
    align-self: center;
  }

  &-toggler {
    @extend .icon;
    @extend .icon-arrow-down;
    &.is-expanded {
      @extend .icon-arrow-up;
    }
  }

  & + & {
    margin-top: .5rem;
  }

  &-container {
    padding: .5rem 0;
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }

  &-wrapper {
    overflow-y: hidden;
    transition: max-height 1s ease-in-out;
    max-height: 0;
    &.is-expanded {
      max-height: 2000px;
    }
  }

  & .stats-progress-bar {
    padding: .2rem;
    &:after {
      display: none;
    }
  }
}
