.mini-result {
  display: none;
  background-color: $white;
  padding: 1rem;
  border: 1px solid $gray-90;

  &-container {
    margin-top: 1rem;
    animation: fadetop 500ms;
  }
  &-title {

  }

  &-numbers {
    color: $white;
    white-space: nowrap;
  }

  &-bar {
    margin-top: 1rem;
    border: 1px solid $gray-80;
    animation: load 1s;
    display: flex;

    &-progress-bar {
      background-color: lighten($blue, 10%);
      border-color: $blue;
      animation-delay: 500ms;
      min-width: 5em;
      overflow-x: hidden;
      //&.active {
      //  background: repeating-linear-gradient(
      //                  45deg,
      //                  lighten($blue, 5%),
      //                  lighten($blue, 5%) 10px,
      //                  lighten($blue, 10%) 10px,
      //                  lighten($blue, 10%) 20px
      //  );
      //  background-size: 200% 200%;
      //  animation: barberpole 10s linear infinite;
      //}
      &:after {
        border-left-color: $blue;
      }

      & {
        color: $white;
        border-width: 0;
        border-right-width: 3px;
        border-left-width: 3px;
        border-style: solid;
        display: block;
        text-align: right;
        padding: .5rem;
        width: 30%;
        z-index: 2;
      }
    }
  }

  &.is-visible {
    display: block;
  }
}

@keyframes load {
  from {
    width: 5%;
  }

  to {
    width: 100%;
  }
}