.modal-expander {}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  &.is-expanded {
    display: block;
    .modal-content {
      animation-name: animate-top;
      animation-duration: .5s;
    }
  }

  /* The Close Button */
  &-close {
    color: $gray-70;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    @extend .icon;
    &:after {
      @include icon("times", "solid");
    }
    &:focus, &:hover {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }

  /* Modal Content/Box */
  &-content {
    background-color: $white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1rem;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    &.small {
      width: 40%;
    }
  }

  &-header {
    padding: 1rem;
    position: relative;
    border-bottom: 1px solid $gray-85;
  }
  &-body {
    padding: 1rem;
  }

  &-title {
    font-weight: bold;
  }

}

/* Add Animation */
@keyframes animate-top {
  from {opacity: 0}
  to {opacity: 1}
}


