.nav-main {
  background: lighten($blue, 5%);
  color: $white;
  box-shadow: inset 0 -5px 5px -5px $black;

  &-icon {
    padding-left: .5rem;
  }

  &-navbar {
    list-style-type: none;
    padding: 0;

    @extend .container;

    @include breakpoint(lg, "up") {
      display: flex;
      flex-direction: row;
    }
  }
  &-item {
    position: relative;
    padding: .5rem 1.5rem;

    &:not(:last-child):after {
      @include breakpoint(xl, "up") {
        position: absolute;
        right: -.3rem;
        top: 50%;
        transform: translateY(-50%);
        @include icon("arrow-right", "solid");
      }
    }
    text-shadow: 0 0 2px $black;
    text-align: center;
    color: $white;
    > a {
      display: block;
      padding: .4rem 0;
      color: inherit;
      text-decoration: none;
    }

    &-disabled {
      text-decoration: line-through;
      color: $gray-95;
      > a {
        cursor: default;
      }
    }
  }

}