.pagination {
  margin-bottom: .5rem;
  display: flex;
  margin-top: .5rem;
  background-color: $gray-95;
  margin-left: auto;
  border-radius: 5px;
  justify-content: flex-end;

  &-result {
    display: block;
    flex-basis: 100%;
    padding: .5rem 1rem;
    color: $black;
    font-size: 1.1rem;
  }

  &-item {
    padding: .5rem 1rem;
    display: block;
    margin-left: -1px;
    position: relative;
    color: darken($blue, 20%);
    &:hover {
      background-color: $gray-60;
      &, .pagination-link:before {
        color: $white;
      }
    }
  }

  &-link {
    &-first:before, &-last:before, &-next:before, &-previous:before {
      @extend .icon;
      font-size: 1rem;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      text-decoration: none;
      color: darken($blue, 20%);
    }
    &-first:before {
      @include icon("arrow-d-left", "solid");
    }
    &-last:before {
      @include icon("arrow-d-right", "solid");
    }
    &-next:before {
      @include icon("arrow-right", "solid");
    }
    &-previous:before {
      @include icon("arrow-left", "solid");
    }
  }
}