.questions-sidebar {
  background-color: $white;
  border: 1px solid $gray-90;
  border-left: none;
  border-right: none;
  padding: 1rem;
  &-media {
    @include breakpoint-up(xl) {
      margin-right: 1rem;
    }
  }

  &-list {
    list-style-type: none;
    padding: 0;
  }
  &-item {
    padding: 1rem;
    cursor: pointer;
    &:nth-of-type(2n) {
      background-color: $gray-90;
    }
    &:nth-of-type(2n + 1) {
    }
    position: relative;
    //&:before {
    //  position: absolute;
    //  content: "";
    //  left: 0;
    //  top: 50%;
    //  transform: translateY(50%);
    //  width: 10px;
    //  height: 2px;
    //  background-color: lighten($blue, 0%);
    //}
    &.selected {
      background-color: lighten($blue, 30%);
      color: $white;
      &:after {
        @include icon("eye", "solid");
      }
    }
    &.done:after {
      @include icon("square-check", "solid");
    }
    &:after {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      @extend .icon;
      @include icon("circle", "solid");
    }
    &.pending {
      &:after {
        top: initial;
        transform: initial;
        animation: spin 1s infinite linear;
        @include icon("spin", "solid");
      }
    }
    &.success {
      &:after {
        color: lighten($green, 10%);
        @include icon("check", "solid");
      }
    }
    &.failure {
      &:after {
        color: lighten($red, 10%);
        @include icon("times", "solid");
      }
    }
    &.question-mark {
      &:after {
        color: $black;
        @include icon("question", "solid");
      }
    }
  }
  &-button {
    width: 100%;
    font-size: 1em;
    padding: 1rem .5rem;
    &.hidden {
      display: none;
    }
  }
  &-head {
    background-color: lighten($blue, 10%);
    color: $white;
    padding: 1rem;
    border-bottom: 2px solid $blue;
  }
}