.question {
  &-header {
    margin-top: 1rem;
    padding-bottom: .7rem;
    border-bottom: 1px solid $gray-80;
  }
  &-body {
    padding: .5rem 0 .5rem;
  }
  &-title {

  }
  &-text {
    padding: 1rem 0;
    margin: 0;
  }
  &-points {
    padding: .1rem .3rem;
    font-size: 1rem;
    background-color: lighten($blue, 10%);
    color: $white;
  }

  & + .question {
    margin-top: 2rem;
  }
}