.questions-sidefix {
  position: fixed;
  bottom: 0;
  background-color: $white;
  z-index: 10;
  left: 0;
  right: 0;
  border-top: 1px solid $gray-70;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0 15px $gray-50;
  display: flex;
  flex-direction: row;
  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-next, &-previous {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
  }
  &-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &-item {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    &.selected {
      display: block;
    }
  }
  &-description {
    &.hidden {
      display: none;
    }
  }
  &-points {
    &-content {
      color: lighten($blue, 10%);
    }
  }
  &-next:before {
    @extend .icon;
    @include icon("arrow-right", "solid");

  }
  &-previous:before {
    @extend .icon;
    @include icon("arrow-left", "solid");
  }
  &.hidden {
    display: none;
  }
  &-pending {
    &.hidden {
      display: none;
    }
  }
  &-finished {
    display: none;
    &.is-visible {
      display: block;
    }
  }
  &-points {
    display: none;
    &.is-visible {
      display: block;
    }
  }
}