.questions-collection {
  &-item {
    display: none;

    &.selected {
      display: block;
      animation: fadetop 500ms;
    }
  }
  &-with-subfix {
    margin-bottom: 90px;
  }
  &.hidden {
    display: none;
  }
}

@keyframes fadetop {
  from {
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}