.result {
  border: 1px solid transparent;
  &-container {
    margin-top: 1rem;
    background-color: $white;
    display: none;
    &.is-expanded {
      display: block;
      animation: fadetop 500ms;
    }
  }

  &-title {
    font-size: 2rem;
    margin: 1em 0 .5em 0;
    text-align: center;
    &-container {

    }
  }

  &-points {
    text-align: center;
    font-size: 4rem;
    margin: .25em 0 .25em 0;
    color: lighten($blue, 10%);

    &-item {
      &-percentage {
        display: block;
        font-size: .4em;
      }
    }
  }

  &-motivate {
    font-size: 1.2em;
    text-align: center;
    p {
      margin: 0;
    }
  }

  &-buttons {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-button {
    font-size: 1.2em;
    padding: 1em;
  }
}