.status {
  display: none;
  background-color: $white;
  padding: 3rem 1rem;
  font-size: 2rem;
  &-item {
    display: none;
    position: relative;
    &.selected {
      display: block;
      animation: fadetop 500ms;
    }
    &-loader {
      position: absolute;
      right: 1em;
      animation: spin 1s infinite linear;

      &:after {
        @extend .icon;
        @include icon("spin", "solid");
      }
    }

    &-center {
      text-align: center;
    }

    &-expander {
      position: relative;
      cursor: pointer;
      &:after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -1.4em;
        transition: .3s bottom ease-in-out;
        @extend .icon;
        @include icon("arrow-down", "solid");
      }
      &:hover:after {
        bottom: -1.8em;
      }
    }
  }
  &.is-visible {
    display: block;
  }
  &.is-expanded {
    display: none;
  }
}

@-webkit-keyframes spin {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}