.stats {

  display: block;

  &-text {
    margin: .5rem .5rem;
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    & + & {
      margin-top: .5rem;
    }
  }

  &-title {
    flex-basis: 20%;
    text-align: right;
    border-right: 1px solid $gray-80;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-bar {
    width: 80%;
    position: relative;
    align-self: center;
    display: flex;
    min-width: 5%;
    z-index: 2;
    padding-left: 1rem;
    animation-delay: 1s;
    animation: load-stat 500ms;
  }

  &.stats-primary {
    & .stats-progress-bar {
      background-color: lighten($blue, 10%);
      border-color: $blue;
      &:after {
        border-left-color: $blue;
      }
    }
    .active {
      background: repeating-linear-gradient(
                      45deg,
                      lighten($blue, 5%),
                      lighten($blue, 5%) 10px,
                      lighten($blue, 10%) 10px,
                      lighten($blue, 10%) 20px
      );
      background-size: 200% 200%;
      animation: barberpole 10s linear infinite;
    }
  }

  &.stats-secondary {
    & .stats-progress-bar {
      background-color: lighten($green, 10%);
      border-color: $green;
      &:after {
        border-left-color: $green;
      }
    }
    .active {
      background: repeating-linear-gradient(
                      45deg,
                      lighten($green, 5%),
                      lighten($green, 5%) 10px,
                      lighten($green, 10%) 10px,
                      lighten($green, 10%) 20px
      );
      background-size: 200% 200%;
      animation: barberpole 10s linear infinite;
    }
  }

  &-progress-bar {
    color: $white;
    border-width: 0;
    border-right-width: 3px;
    border-left-width: 3px;
    border-style: solid;
    display: block;
    text-align: right;
    padding: .5rem;
    z-index: 2;
    min-width: 5%;

    &:after {
      position: absolute;
      left: 1.125rem;
      top: 0;
      bottom: 0;
      border-width: 20px 10px;
      border-style: solid;
      border-left-color: $black;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      content: '';
    }

    &:before {
      position: absolute;
      top: 0;
      left: 1rem;
      z-index: -1;
      right: 0;
      bottom: 0;
      border: 1px solid $gray-80;

      content: "";
    }
  }
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

@keyframes load-stat {
  from {
    width: 5%;
  }

  to {
    width: 80%;
  }
}