.tag {
  color: $white;
  padding: .1rem .2rem;
  margin-right: .2rem;
  border-radius: 2px;
  text-decoration: none;
  margin-top: .2rem;
  font-size: 1em;
  border-color: transparent;

  &:last-child {
    margin-right: 0;
  }

  &-primary {
    background-color: lighten($blue, 0%);
  }

  &-secondary {
    background-color: lighten($green, 0%);
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: -.2rem;
}