.tag-filters {
  overflow-y: hidden;
  max-height: 0;
  transition: max-height .8s;
  &-title {
    color: $black;
    padding: 1rem 0;
    position: relative;
    border-bottom: 1px solid $gray-80;

  }
  &-toggler {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 10px;
    padding: 1rem 0;
    cursor: pointer;
    text-align: right;
    &:before {
      @extend .icon;
      @extend .icon-arrow-down;
    }
    &.is-expanded:before {
      @extend .icon-arrow-up;
    }
  }

  &.is-expanded {
    max-height: 200px;
  }

  &-item {
    border: 1px solid $gray-80;
    padding: .2rem .3rem;
    border-radius: 6px;
    margin-bottom: .3rem;
    font-size: 1.05rem;
    display: inline-flex;
  }

  &-icon {
    border-right: 1px solid $gray-80;
    padding: .3rem .6rem;
  }

  &-group {
    max-width: 60px;
    padding-right: .1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    display: block;
    transition: max-width 1s ease-in-out;

    &:hover {
      max-width: 300px;
    }
  }

  &-close-toggle:before {
    @extend .icon;
    @extend .icon-times;
    color: $gray-20;
    padding-left: .3rem;
    padding-right: .3rem;
    cursor: pointer;
  }
}