.timer {
  background-color: $white;
  border: 1px solid $gray-90;
  padding: 1rem;
  transition: padding-top .5s ease-in-out, padding-bottom .5s ease-in-out, max-height .5s ease-in-out, margin-bottom .5s ease-in-out;
  overflow-y: hidden;
  max-height: 250px;
  box-sizing: padding-box;

  &-header {
    margin-bottom: .5rem;
  }
  &-body {
    display: flex;
    position: relative;
  }

  &-progress-bar {
    background-color: lighten($blue, 10%);
    border-color: $blue;

    &.active {
      background: repeating-linear-gradient(
                      45deg,
                      lighten($blue, 5%),
                      lighten($blue, 5%) 10px,
                      lighten($blue, 10%) 10px,
                      lighten($blue, 10%) 20px
      );
      background-size: 200% 200%;
      animation: barberpole 10s linear infinite;
    }
    &:after {
      border-left-color: $blue;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      right: 0;
      bottom: 0;
      border: 1px solid $gray-80;

      content: "";
    }

    & {
      color: $white;
      border-width: 0;
      border-right-width: 3px;
      border-left-width: 3px;
      border-style: solid;
      display: block;
      text-align: right;
      padding: .5rem;
      width: 30%;
      z-index: 2;
    }
  }
  &.hidden {
    display: none;
  }
}
