
.title {
  &-icon {
    margin-right: .5rem;
  }

  &-primary {
    color: lighten($blue, 10%);
  }

  &-secondary {
    color: lighten($green, 10%);
  }

  &-soft-gray {
    color: $gray-40;
  }

  &-gray {
    color: $gray-30;
  }

  &-gutters {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  &-inline {

    .title-icon {
      display: inline-block;
      padding: .7rem 1.2rem;
      color: $white;
    }

    &.title-primary {
      border-bottom: 3px solid lighten($blue, 10%);

      .title-icon {
        background: lighten($blue, 10%);
      }
    }

    &.title-secondary {
      border-bottom: 3px solid lighten($green, 10%);

      .title-icon {
        background: lighten($green, 10%);
      }
    }
  }

  &-inline-full {
    display: block;
    padding: .5rem;
    color: $white;

    &.title-secondary {
      background: lighten($green, 10%);
    }

    &.title-primary {
      background: lighten($blue, 10%);
    }

    &.title-gradient.title-secondary {
      background: linear-gradient(to right, lighten($green, 10%), lighten($green, 15%));
    }

    &.title-gradient.title-primary {
      background: linear-gradient(to right, lighten($blue, 10%), lighten($blue, 15%));
    }
  }

  &-outline {
    border-width: 1px;
    padding: .5rem;
    border-style: solid;
    border-color: $gray-85;

    &.title-primary {
      color: lighten($blue, 10%);
      border-bottom: 4px solid $blue;
    }

    &-bottom {
      border-style: none;
      border-bottom-style: solid;
    }
  }

  &-btn-like {
    box-sizing: content-box;
    border-width: 4px;
    border-bottom-style: solid;
    &.title-primary {
      border-bottom-color: darken($blue, 10%);
    }
    &.title-danger {
      border-bottom-color: darken($red, 10%);
    }
    &.title-secondary {
      border-bottom-color: darken($green, 10%);
    }
  }

  > a {
    font-size: inherit;
    text-decoration: inherit;
    &.primary {
      color: lighten($blue, 10%);
    }

    &.secondary {
      color: lighten($blue, 10%);
    }
  }

}
