@charset "UTF-8";

@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Regular.ttf?c5eb54404c9dbda925f7142d6343c913);
}

@font-face {
  font-family: "Ranchers";
  src: url(/fonts/Ranchers-Regular.ttf?6c9cef793d1fb7941cee73e0c34c42d4);
}

.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.eot?e2675a616b68f446fa6284c111554c7f);
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.eot?e2675a616b68f446fa6284c111554c7f) format("embedded-opentype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff2?64b3e814a66c2719b15abf8f7998bd73) format("woff2"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff?0be94a07755ba9b88f2ebcac0f23a3da) format("woff"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.ttf?f14c3b2ff7c821a4c838debbffd6ad2d) format("truetype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg?7726a281c1d436eb038f78c6e9048c96) format("svg");
}

.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.eot?859001f6ae8eb0bb3878aaa971b50fc6);
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.eot?859001f6ae8eb0bb3878aaa971b50fc6) format("embedded-opentype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff2?7980a6361c25b4665dbbe92d4488783c) format("woff2"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff?7aaf5675efd6339e9aba53ecbe5f1e36) format("woff"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.ttf?f33342516f7cbe46f1d6b68f9e7bbeda) format("truetype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.svg?da8a235bb207c74eea21507f3a86a53b) format("svg");
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.eot?8e49b728413079dfd9ee45d0c58d54e4);
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.eot?8e49b728413079dfd9ee45d0c58d54e4) format("embedded-opentype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff2?9f4ce3dc689981a1b87faab0f5484f9e) format("woff2"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff?9f018d1025561e96439f7c0e9026301a) format("woff"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.ttf?b7d071b9c3c197bff4af902070622423) format("truetype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.svg?38975343b586296e9b73e6b56cc3ec5d) format("svg");
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

@media (min-width: 0) {
  .flex-row-xs {
    flex-direction: row;
  }

  .flex-col-xs {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .flex-row-sm {
    flex-direction: row;
  }

  .flex-col-sm {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .flex-row-md {
    flex-direction: row;
  }

  .flex-col-md {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .flex-row-lg {
    flex-direction: row;
  }

  .flex-col-lg {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .flex-row-xl {
    flex-direction: row;
  }

  .flex-col-xl {
    flex-direction: column;
  }
}

@media (min-width: 1400px) {
  .flex-row-xxl {
    flex-direction: row;
  }

  .flex-col-xxl {
    flex-direction: column;
  }
}

.col {
  flex-basis: 100%;
}

.col-0 {
  flex-basis: 0%;
}

.col-1 {
  flex-basis: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
}

@media (min-width: 0) {
  .col-0-xs {
    flex-basis: 0%;
  }

  .col-1-xs {
    flex-basis: 8.3333333333%;
  }

  .col-2-xs {
    flex-basis: 16.6666666667%;
  }

  .col-3-xs {
    flex-basis: 25%;
  }

  .col-4-xs {
    flex-basis: 33.3333333333%;
  }

  .col-5-xs {
    flex-basis: 41.6666666667%;
  }

  .col-6-xs {
    flex-basis: 50%;
  }

  .col-7-xs {
    flex-basis: 58.3333333333%;
  }

  .col-8-xs {
    flex-basis: 66.6666666667%;
  }

  .col-9-xs {
    flex-basis: 75%;
  }

  .col-10-xs {
    flex-basis: 83.3333333333%;
  }

  .col-11-xs {
    flex-basis: 91.6666666667%;
  }

  .col-12-xs {
    flex-basis: 100%;
  }
}

@media (min-width: 576px) {
  .col-0-sm {
    flex-basis: 0%;
  }

  .col-1-sm {
    flex-basis: 8.3333333333%;
  }

  .col-2-sm {
    flex-basis: 16.6666666667%;
  }

  .col-3-sm {
    flex-basis: 25%;
  }

  .col-4-sm {
    flex-basis: 33.3333333333%;
  }

  .col-5-sm {
    flex-basis: 41.6666666667%;
  }

  .col-6-sm {
    flex-basis: 50%;
  }

  .col-7-sm {
    flex-basis: 58.3333333333%;
  }

  .col-8-sm {
    flex-basis: 66.6666666667%;
  }

  .col-9-sm {
    flex-basis: 75%;
  }

  .col-10-sm {
    flex-basis: 83.3333333333%;
  }

  .col-11-sm {
    flex-basis: 91.6666666667%;
  }

  .col-12-sm {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-0-md {
    flex-basis: 0%;
  }

  .col-1-md {
    flex-basis: 8.3333333333%;
  }

  .col-2-md {
    flex-basis: 16.6666666667%;
  }

  .col-3-md {
    flex-basis: 25%;
  }

  .col-4-md {
    flex-basis: 33.3333333333%;
  }

  .col-5-md {
    flex-basis: 41.6666666667%;
  }

  .col-6-md {
    flex-basis: 50%;
  }

  .col-7-md {
    flex-basis: 58.3333333333%;
  }

  .col-8-md {
    flex-basis: 66.6666666667%;
  }

  .col-9-md {
    flex-basis: 75%;
  }

  .col-10-md {
    flex-basis: 83.3333333333%;
  }

  .col-11-md {
    flex-basis: 91.6666666667%;
  }

  .col-12-md {
    flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-0-lg {
    flex-basis: 0%;
  }

  .col-1-lg {
    flex-basis: 8.3333333333%;
  }

  .col-2-lg {
    flex-basis: 16.6666666667%;
  }

  .col-3-lg {
    flex-basis: 25%;
  }

  .col-4-lg {
    flex-basis: 33.3333333333%;
  }

  .col-5-lg {
    flex-basis: 41.6666666667%;
  }

  .col-6-lg {
    flex-basis: 50%;
  }

  .col-7-lg {
    flex-basis: 58.3333333333%;
  }

  .col-8-lg {
    flex-basis: 66.6666666667%;
  }

  .col-9-lg {
    flex-basis: 75%;
  }

  .col-10-lg {
    flex-basis: 83.3333333333%;
  }

  .col-11-lg {
    flex-basis: 91.6666666667%;
  }

  .col-12-lg {
    flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .col-0-xl {
    flex-basis: 0%;
  }

  .col-1-xl {
    flex-basis: 8.3333333333%;
  }

  .col-2-xl {
    flex-basis: 16.6666666667%;
  }

  .col-3-xl {
    flex-basis: 25%;
  }

  .col-4-xl {
    flex-basis: 33.3333333333%;
  }

  .col-5-xl {
    flex-basis: 41.6666666667%;
  }

  .col-6-xl {
    flex-basis: 50%;
  }

  .col-7-xl {
    flex-basis: 58.3333333333%;
  }

  .col-8-xl {
    flex-basis: 66.6666666667%;
  }

  .col-9-xl {
    flex-basis: 75%;
  }

  .col-10-xl {
    flex-basis: 83.3333333333%;
  }

  .col-11-xl {
    flex-basis: 91.6666666667%;
  }

  .col-12-xl {
    flex-basis: 100%;
  }
}

@media (min-width: 1400px) {
  .col-0-xxl {
    flex-basis: 0%;
  }

  .col-1-xxl {
    flex-basis: 8.3333333333%;
  }

  .col-2-xxl {
    flex-basis: 16.6666666667%;
  }

  .col-3-xxl {
    flex-basis: 25%;
  }

  .col-4-xxl {
    flex-basis: 33.3333333333%;
  }

  .col-5-xxl {
    flex-basis: 41.6666666667%;
  }

  .col-6-xxl {
    flex-basis: 50%;
  }

  .col-7-xxl {
    flex-basis: 58.3333333333%;
  }

  .col-8-xxl {
    flex-basis: 66.6666666667%;
  }

  .col-9-xxl {
    flex-basis: 75%;
  }

  .col-10-xxl {
    flex-basis: 83.3333333333%;
  }

  .col-11-xxl {
    flex-basis: 91.6666666667%;
  }

  .col-12-xxl {
    flex-basis: 100%;
  }
}

.container {
  width: auto;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .container {
    margin: 0 10px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 1.9em;
}

body {
  font-family: Lato, serif;
  background-color: #f7f7f7;
  margin: 0;
  font-size: 1.175rem;
}

:root {
  line-height: 1.428;
}

em {
  text-decoration: underline;
  font-style: normal;
}

.highlight-box {
  box-shadow: 5px 5px 0 #cccccc;
}

.icon,
.modal-close,
.debug-expander-icon,
.mini-link-tag:after,
.mini-link-correct:after,
.mini-link-reward:after,
.mini-link-sheet:after,
.mini-link-show:after,
.mini-link-plus-square:after,
.mini-link-editor:after,
.mini-link-edit:after,
.mini-link-delete:after,
.nav-item.expand-toggler:after {
  font-style: normal;
  font-size: 1em;
}

.icon-flask:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F0C3";
}

.icon-dna:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F471";
}

.icon-flag:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F024";
}

.icon-sheet:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F15C";
}

.icon-seedling:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F4D8";
}

.icon-home:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F015";
}

.icon-calendar:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F073";
}

.icon-arrow-down:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F107";
}

.icon-arrow-up:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F106";
}

.icon-sliders:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F1DE";
}

.icon-times:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00D";
}

.icon-buffer:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F837";
}

.icon-user:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F007";
}

.icon-calendar-check:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F274";
}

.icon-info-circle:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F06A";
}

.icon-smile:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F118";
}

.icon-angry:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F556";
}

.icon-meh:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F11A";
}

.icon-suprise:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F5C2";
}

.icon-question:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F059";
}

.icon-check:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00C";
}

.icon-pencil:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F303";
}

.icon-show:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F06E";
}

.icon-hide:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F070";
}

.nav {
  background-color: #333333;
  color: #e6e6e6;
}

.nav-header {
  padding: 1em;
}

.nav-title {
  margin: 0;
}

.nav-body {
  background-color: #1a1a1a;
}

.nav-list {
  margin: 0;
  padding: 0 0 0 2rem;
  list-style-type: none;
}

.nav-item {
  padding: 1rem 0;
}

.nav-item.expand-toggler {
  position: relative;
  cursor: pointer;
}

.nav-item.expand-toggler:after {
  position: absolute;
  right: 1rem;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F106";
}

.nav-item.expand-toggler.is-expanded:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F107";
}

.nav-item:not(:last-of-type) {
  border-bottom: 1px solid #333333;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-expand-target.expand-target {
  overflow-y: hidden;
  max-height: 0;
}

.nav-expand-target.expand-target.is-expanded {
  max-height: 200px;
}

.header {
  padding: 1.2854em;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
}

.header-title {
  margin: 0;
  font-weight: normal;
}

.section {
  padding: 2rem;
}

.section-header {
  padding: 0 0 1em;
}

.section-title {
  margin: 0;
  font-weight: normal;
}

.section-body {
  background-color: #fff;
  padding: 1rem;
}

.button {
  background-color: #e6e6e6;
  color: #000;
  text-decoration: none;
  padding: 1rem 3rem;
  border: 1px solid #cccccc;
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
}

.button-container {
  padding: 1rem 0;
}

.table {
  width: 100%;
}

.table tr {
  background-color: #e6e6e6;
}

.table tr:nth-of-type(even) {
  background-color: transparent;
}

.table .table-head {
  background-color: #cccccc;
}

.table .table-head th {
  border-bottom: 1px solid #999999;
}

.table th,
.table td {
  padding: 1rem;
  border: none;
}

.mini-link {
  padding: 0.6rem 0.8rem;
  font-size: 1.2em;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.mini-link:not(:last-of-type) {
  margin-right: 0.1rem;
}

.mini-link-delete {
  background-color: #d32535;
  color: #fff;
}

.mini-link-delete:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F2ED";
}

.mini-link-edit {
  background-color: #f57102;
  color: #fff;
}

.mini-link-edit:after {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F044";
}

.mini-link-editor {
  background-color: #6f42c1;
  color: #fff;
}

.mini-link-editor:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00A";
}

.mini-link-plus-square {
  background-color: #e83e8c;
  color: #fff;
}

.mini-link-plus-square:after {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F0FE";
}

.mini-link-show {
  background-color: #23923d;
  color: #fff;
}

.mini-link-show:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F06E";
}

.mini-link-sheet {
  background-color: #23923d;
  color: #fff;
}

.mini-link-sheet:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F15C";
}

.mini-link-reward {
  background-color: #ffc107;
  color: #fff;
}

.mini-link-reward:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F155";
}

.mini-link-correct {
  background-color: #23923d;
  color: #fff;
}

.mini-link-correct:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F14A";
}

.mini-link-tag {
  background-color: #6f42c1;
  color: #fff;
}

.mini-link-tag:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F02B";
}

.notifier-header {
  border-bottom: 1px solid #cccccc;
}

.notifier-title {
  font-weight: normal;
}

.notifier-body {
  margin-top: 1rem;
}

.notifier-item {
  display: block;
}

.debug {
  display: block;
}

.is-visible.debug,
.is-visible .debug {
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
}

.is-visible.debug-question .article {
  border: 1px solid #006fe6;
  background-color: rgba(0, 111, 230, 0.2) !important;
}

.is-visible .debug-question-content {
  border: 1px solid #17a2b8;
  background-color: rgba(23, 162, 184, 0.2) !important;
}

.is-visible .debug-question-substitute {
  border: 1px solid #f57102;
  background-color: rgba(245, 113, 2, 0.2) !important;
}

.is-visible .debug-input-group {
  border: 1px solid #e83e8c;
  background-color: rgba(232, 62, 140, 0.2) !important;
}

.is-visible .debug-tags {
  border: 1px solid #e83e8c;
  background-color: rgba(232, 62, 140, 0.2) !important;
}

.debug-input {
  display: inline;
}

.is-visible .debug-input {
  display: block;
  border: 1px solid #6f42c1;
  background-color: rgba(111, 66, 193, 0.2) !important;
}

.debug-expander {
  display: block;
  padding: 1rem 0;
  cursor: pointer;
}

.debug-expander-icon {
  padding: 0.5rem;
  border: 1px solid #cccccc;
}

.debug-expander-icon:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F070";
}

.debug-expander.is-visible .debug-expander-icon:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F06E";
}

.is-visible .editor-editable {
  position: relative;
  padding-top: 50px;
}

.is-visible .editor-actions {
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
}

.is-visible .editor-rewards {
  display: block;
  padding: 1rem;
}

.is-visible .editor-corrects {
  display: block;
  padding: 1rem;
}

.is-visible .editor-container {
  display: block;
}

.editor-actions {
  display: none;
  z-index: 9;
}

.editor-rewards,
.editor-corrects {
  display: none;
  z-index: 9;
}

.editor-rewards-item,
.editor-corrects-item {
  font-size: 0.8em;
  color: #4d4d4d;
  display: inline-block;
  margin-right: 0.2rem;
}

.question-header {
  margin-top: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #cccccc;
}

.question-body {
  padding: 0.5rem 0 0.5rem;
}

.question-text {
  padding: 1rem 0;
  margin: 0;
}

.question-points {
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  background-color: #1a88ff;
  color: #fff;
}

.question + .question {
  margin-top: 2rem;
}

.form-container {
  padding: 1rem 0;
}

.input-checkbox-container {
  display: block;
  position: relative;
  padding-left: 2em;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* ShowBySlug the checkmark when checked */
  /* Style the checkmark/indicator */
  /* Hide the browser's default checkbox */
}

.input-checkbox-container:hover .input-checkbox ~ .input-checkmark:after {
  opacity: 0.5;
}

.input-checkbox-container .input-checkbox:checked ~ .input-checkmark:after {
  opacity: 1;
}

.input-checkbox-container .input-checkbox.success ~ .input-checkmark {
  border: 2px solid #2dbc4e;
}

.input-checkbox-container .input-checkbox.failure ~ .input-checkmark {
  border: 2px solid #e04b59;
}

.input-checkbox-container .input-checkbox.failure ~ .input-checkmark:after {
  border-color: #e04b59;
}

.input-checkbox-container .input-checkbox.proposed ~ .input-checkmark {
  border: 2px solid #1a88ff;
}

.input-checkbox-container .input-checkbox.proposed ~ .input-checkmark:after {
  border-color: #1a88ff;
}

.input-checkbox-container .input-checkmark:after {
  display: block;
  opacity: 0;
  left: 0.3em;
  top: 0em;
  width: 0.45em;
  height: 0.85em;
  border: solid #2dbc4e;
  border-width: 0 0.25em 0.25em 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-checkbox-container .input-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* CreateValidator a custom checkbox */

.input-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.225em;
  width: 1.225em;
  border: 1px solid #b3b3b3;
  /* CreateValidator the checkmark/indicator (hidden when not checked) */
}

.input-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-checkbox-toggler {
  transition: all 0.3s;
}

.input-group .input-multiple-text-container:last-of-type:after {
  content: ".";
}

.input-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.input-singular-text {
  border: none;
  font-size: 1em;
  text-align: center;
  padding: 0.4rem;
  border-bottom: 2px dotted #000;
  background-color: transparent;
  width: 7em;
}

.input-singular-text.half {
  width: 3.5em;
}

.input-singular-text.three {
  width: 10.5em;
}

.input-singular-text.four {
  width: 14em;
}

.input-singular-text.success {
  border-bottom-color: #2dbc4e;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-singular-text.failure {
  border-bottom-color: #e04b59;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-singular-text.proposed {
  border-bottom-color: #1a88ff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-singular-text-container {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.input-multiple-text {
  border: none;
  font-size: 1em;
  text-align: center;
  padding: 0.4rem;
  border-bottom: 2px dotted #000;
  background-color: transparent;
  width: 7em;
}

.input-multiple-text.half {
  width: 3.5em;
}

.input-multiple-text.three {
  width: 10.5em;
}

.input-multiple-text.four {
  width: 14em;
}

.input-multiple-text.success {
  border-bottom-color: #2dbc4e;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-multiple-text.failure {
  border-bottom-color: #e04b59;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-multiple-text.proposed {
  border-bottom-color: #1a88ff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-multiple-text-container {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.input-singular-letter {
  font-size: 1em;
  text-align: center;
  padding: 0.4rem;
  border: 1px solid #cccccc;
  background-color: transparent;
  width: 2em;
  display: inline;
}

.input-singular-letter-container {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.input-singular-letter.success {
  border-color: #2dbc4e;
  border-width: 2px;
}

.input-singular-letter.failure {
  border-color: #e04b59;
  border-width: 2px;
}

.input-singular-letter.proposed {
  border-color: #1a88ff;
  border-width: 2px;
}

.input-singular-letter.half {
  width: 1.4em;
}

.input-singular-letter.three {
  width: 3em;
}

.input-singular-letter.four {
  width: 4em;
}

.input-multiple-letter {
  font-size: 1em;
  text-align: center;
  padding: 0.4em;
  border: 1px solid #cccccc;
  width: 2em;
  display: inline;
}

.input-multiple-letter-container {
  display: inline;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.input-multiple-letter.success {
  border-color: #2dbc4e;
  border-width: 2px;
}

.input-multiple-letter.failure {
  border-color: #e04b59;
  border-width: 2px;
}

.input-multiple-letter.proposed {
  border-color: #1a88ff;
  border-width: 2px;
}

.input-multiple-letter.half {
  width: 1.4em;
}

.input-multiple-letter.three {
  width: 3em;
}

.input-multiple-letter.four {
  width: 4em;
}

.input-admin-text {
  display: block;
  padding: 0.5rem;
  font-size: 0.8em;
  width: 100%;
  margin-top: 0.5rem;
}

.input-container:not(:first-child) {
  margin-top: 1rem;
}

.input-container {
  display: block;
}

.input-radio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f2f2f2;
}

.input-radio-checkmark {
  display: none;
}

.input-radio-text {
  color: #000;
  padding: 1rem;
  display: block;
}

.input-radio-checkmark:checked + .input-radio {
  background-color: #2dbc4e;
}

.input-radio-checkmark.proposed:checked + .input-radio {
  background-color: #1a88ff;
}

.input-radio-checkmark:not(:checked):hover + .input-radio {
  background-color: #d9d9d9;
}

.input-radio-checkmark:checked + .input-radio + .input-radio-text {
  color: #fff;
}

.input-radio-checkmark.failure + .input-radio + .input-radio-text {
  background-color: #e04b59;
  color: #fff;
}

.input-radio-container {
  cursor: pointer;
  position: relative;
  display: block;
  z-index: 2;
}

.input-radio-container + .input-radio-container {
  border-top: 1px solid #cccccc;
}

.input-upload {
  display: block;
  margin-top: 0.5rem;
  cursor: pointer;
}

.input-sup {
  -webkit-transform: translateY(-0.7em);
          transform: translateY(-0.7em);
  font-size: 0.8em;
  padding: 0.1em;
}

.input-sub {
  -webkit-transform: translateY(0.4em);
          transform: translateY(0.4em);
  font-size: 0.8em;
  padding: 0.1em;
}

.input-radio-container p,
.input-multiple-text-container p,
.input-singular-text-container p,
.input-singular-letter-container p,
.input-multiple-letter-container p {
  margin: 0;
  display: inline;
}

.answer {
  display: block;
  margin-top: 1rem;
  border-top: 1px solid #cccccc;
  padding: 0.5rem 0;
}

.answer-title {
  font-weight: normal;
}

.answer-container {
  margin-top: 1rem;
}

.answer-container .answer + .answer {
  margin-top: 2rem;
}

.answer-table {
  margin-top: 0.5rem;
}

.answer-text {
  margin-bottom: 0.5rem;
}

.answer-text > p {
  margin: 0;
  display: inline;
}

.article {
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-collapse: collapse;
  padding: 1em 1.5em;
}

.article-body ul li {
  margin-bottom: 0.5rem;
}

.article-no-gutters-top {
  padding-top: 0;
}

.article-no-gutters-top > .article-header {
  margin-top: 1rem;
}

.article-header + .article-body,
.article-header + .article-header {
  margin-top: 0.75em;
}

.article-header-body-glued + .article-body {
  margin-top: 0;
}

.article-header-has-number {
  display: flex;
}

.article-header.article-header-no-margin {
  margin-bottom: 0;
}

.article-title {
  align-self: baseline;
}

.article-title-under-text {
  font-weight: normal;
  font-size: 0.7em;
}

.article-number {
  align-self: baseline;
  font-size: 1.9rem;
  line-height: 1;
  padding: 0.3rem 0.6rem;
  border-radius: 2px;
  color: #fff;
}

.article-number + .article-title {
  margin-left: 0.5rem;
}

.article-number-primary {
  background-color: #006fe6;
}

.article-number-secondary {
  background-color: #23923d;
}

.article-text {
  margin: 0;
}

.article-text-intended p:first-of-type {
  margin: 0;
}

.article-text-intended:first-of-type {
  text-indent: 1rem;
}

.article-text-intended:first-of-type p {
  display: block;
  text-indent: 1rem;
}

.article-primary {
  margin: 2rem 0 0 0;
}

.article-secondary {
  margin: 1rem 0 0 0;
}

.article-button-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.article-button-container-big {
  padding: 1rem 0;
}

.article-button-container-no-gutters {
  margin: 0;
}

.article-button {
  display: block;
  margin-right: 0.5rem;
}

.article-image {
  width: 100%;
}

.article-image-container {
  width: 70%;
  margin-top: 1rem;
  position: relative;
  border: 1px solid #cccccc;
  cursor: pointer;
  transition: width 0.7s ease-in-out;
}

.article-image-container:before {
  z-index: 4;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.article-image-container-half {
  width: 50%;
}

.article-image-container.is-zoomed {
  width: 100% !important;
}

.article-image-container.is-hidden {
  display: none;
}

.article-image-container.is-expanded {
  display: block;
}

.article-list .article:not(:last-child) {
  border-bottom: 0;
}

.title-icon {
  margin-right: 0.5rem;
}

.title-primary {
  color: #1a88ff;
}

.title-secondary {
  color: #2dbc4e;
}

.title-soft-gray {
  color: #666666;
}

.title-gray {
  color: #4d4d4d;
}

.title-gutters {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.title-inline .title-icon {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  color: #fff;
}

.title-inline.title-primary {
  border-bottom: 3px solid #1a88ff;
}

.title-inline.title-primary .title-icon {
  background: #1a88ff;
}

.title-inline.title-secondary {
  border-bottom: 3px solid #2dbc4e;
}

.title-inline.title-secondary .title-icon {
  background: #2dbc4e;
}

.title-inline-full {
  display: block;
  padding: 0.5rem;
  color: #fff;
}

.title-inline-full.title-secondary {
  background: #2dbc4e;
}

.title-inline-full.title-primary {
  background: #1a88ff;
}

.title-inline-full.title-gradient.title-secondary {
  background: linear-gradient(to right, #2dbc4e, #34ce57);
}

.title-inline-full.title-gradient.title-primary {
  background: linear-gradient(to right, #1a88ff, #3395ff);
}

.title-outline {
  border-width: 1px;
  padding: 0.5rem;
  border-style: solid;
  border-color: #d9d9d9;
}

.title-outline.title-primary {
  color: #1a88ff;
  border-bottom: 4px solid #006fe6;
}

.title-outline-bottom {
  border-style: none;
  border-bottom-style: solid;
}

.title-btn-like {
  box-sizing: content-box;
  border-width: 4px;
  border-bottom-style: solid;
}

.title-btn-like.title-primary {
  border-bottom-color: #0056b3;
}

.title-btn-like.title-danger {
  border-bottom-color: #a71d2a;
}

.title-btn-like.title-secondary {
  border-bottom-color: #19692c;
}

.title > a {
  font-size: inherit;
  text-decoration: inherit;
}

.title > a.primary {
  color: #1a88ff;
}

.title > a.secondary {
  color: #1a88ff;
}

.tag {
  color: #fff;
  padding: 0.1rem 0.2rem;
  margin-right: 0.2rem;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 0.2rem;
  font-size: 1em;
  border-color: transparent;
}

.tag:last-child {
  margin-right: 0;
}

.tag-primary {
  background-color: #006fe6;
}

.tag-secondary {
  background-color: #23923d;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.2rem;
}

.mini-statistic {
  position: relative;
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 0 0 5px 5px;
}

.mini-statistic-icon,
.mini-statistic-value {
  padding: 0.5rem;
  border-top: none;
}

@media (min-width: 1200px) {
  .mini-statistic-right {
    margin-left: auto !important;
  }
}

.mini-statistic-icon {
  border-right: none;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  background-color: #e6e6e6;
  color: #000;
  display: flex;
  border-bottom-left-radius: 5px;
}

.mini-statistic-icon:hover .mini-statistic-icon-description {
  transition: max-width 0.8s 0.1s ease-in-out, margin-left ease-in-out 0.2s;
  margin-left: 0.7rem;
  max-width: 250px;
}

.mini-statistic-icon-description {
  display: inline-block;
  max-width: 0;
  overflow-x: hidden;
  white-space: nowrap;
  transition: max-width 0.8s ease-in-out, margin-left ease-in-out 0.2s 0.7s;
}

.mini-statistic-value {
  color: #0d0d0d;
}

.mini-statistic-container {
  margin-top: -21px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
}

.mini-statistic-container .mini-statistic {
  margin-left: 1rem;
  margin-top: 20px;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* The Close Button */
  /* Modal Content/Box */
}

.modal.is-expanded {
  display: block;
}

.modal.is-expanded .modal-content {
  -webkit-animation-name: animate-top;
          animation-name: animate-top;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal-close {
  color: #b3b3b3;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
}

.modal-close:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00D";
}

.modal-close:focus,
.modal-close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.modal-content.small {
  width: 40%;
}

.modal-header {
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}

.modal-body {
  padding: 1rem;
}

.modal-title {
  font-weight: bold;
}

/* Add Animation */

@-webkit-keyframes animate-top {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animate-top {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

