@charset "UTF-8";

@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Regular.ttf?c5eb54404c9dbda925f7142d6343c913);
}

@font-face {
  font-family: "Ranchers";
  src: url(/fonts/Ranchers-Regular.ttf?6c9cef793d1fb7941cee73e0c34c42d4);
}

.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.eot?e2675a616b68f446fa6284c111554c7f);
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.eot?e2675a616b68f446fa6284c111554c7f) format("embedded-opentype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff2?64b3e814a66c2719b15abf8f7998bd73) format("woff2"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff?0be94a07755ba9b88f2ebcac0f23a3da) format("woff"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.ttf?f14c3b2ff7c821a4c838debbffd6ad2d) format("truetype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg?7726a281c1d436eb038f78c6e9048c96) format("svg");
}

.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.eot?859001f6ae8eb0bb3878aaa971b50fc6);
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.eot?859001f6ae8eb0bb3878aaa971b50fc6) format("embedded-opentype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff2?7980a6361c25b4665dbbe92d4488783c) format("woff2"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff?7aaf5675efd6339e9aba53ecbe5f1e36) format("woff"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.ttf?f33342516f7cbe46f1d6b68f9e7bbeda) format("truetype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.svg?da8a235bb207c74eea21507f3a86a53b) format("svg");
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.eot?8e49b728413079dfd9ee45d0c58d54e4);
  src: url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.eot?8e49b728413079dfd9ee45d0c58d54e4) format("embedded-opentype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff2?9f4ce3dc689981a1b87faab0f5484f9e) format("woff2"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff?9f018d1025561e96439f7c0e9026301a) format("woff"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.ttf?b7d071b9c3c197bff4af902070622423) format("truetype"), url(/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.svg?38975343b586296e9b73e6b56cc3ec5d) format("svg");
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

@media (min-width: 0) {
  .flex-row-xs {
    flex-direction: row;
  }

  .flex-col-xs {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .flex-row-sm {
    flex-direction: row;
  }

  .flex-col-sm {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .flex-row-md {
    flex-direction: row;
  }

  .flex-col-md {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .flex-row-lg {
    flex-direction: row;
  }

  .flex-col-lg {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .flex-row-xl {
    flex-direction: row;
  }

  .flex-col-xl {
    flex-direction: column;
  }
}

@media (min-width: 1400px) {
  .flex-row-xxl {
    flex-direction: row;
  }

  .flex-col-xxl {
    flex-direction: column;
  }
}

.col {
  flex-basis: 100%;
}

.col-0 {
  flex-basis: 0%;
}

.col-1 {
  flex-basis: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
}

@media (min-width: 0) {
  .col-0-xs {
    flex-basis: 0%;
  }

  .col-1-xs {
    flex-basis: 8.3333333333%;
  }

  .col-2-xs {
    flex-basis: 16.6666666667%;
  }

  .col-3-xs {
    flex-basis: 25%;
  }

  .col-4-xs {
    flex-basis: 33.3333333333%;
  }

  .col-5-xs {
    flex-basis: 41.6666666667%;
  }

  .col-6-xs {
    flex-basis: 50%;
  }

  .col-7-xs {
    flex-basis: 58.3333333333%;
  }

  .col-8-xs {
    flex-basis: 66.6666666667%;
  }

  .col-9-xs {
    flex-basis: 75%;
  }

  .col-10-xs {
    flex-basis: 83.3333333333%;
  }

  .col-11-xs {
    flex-basis: 91.6666666667%;
  }

  .col-12-xs {
    flex-basis: 100%;
  }
}

@media (min-width: 576px) {
  .col-0-sm {
    flex-basis: 0%;
  }

  .col-1-sm {
    flex-basis: 8.3333333333%;
  }

  .col-2-sm {
    flex-basis: 16.6666666667%;
  }

  .col-3-sm {
    flex-basis: 25%;
  }

  .col-4-sm {
    flex-basis: 33.3333333333%;
  }

  .col-5-sm {
    flex-basis: 41.6666666667%;
  }

  .col-6-sm {
    flex-basis: 50%;
  }

  .col-7-sm {
    flex-basis: 58.3333333333%;
  }

  .col-8-sm {
    flex-basis: 66.6666666667%;
  }

  .col-9-sm {
    flex-basis: 75%;
  }

  .col-10-sm {
    flex-basis: 83.3333333333%;
  }

  .col-11-sm {
    flex-basis: 91.6666666667%;
  }

  .col-12-sm {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-0-md {
    flex-basis: 0%;
  }

  .col-1-md {
    flex-basis: 8.3333333333%;
  }

  .col-2-md {
    flex-basis: 16.6666666667%;
  }

  .col-3-md {
    flex-basis: 25%;
  }

  .col-4-md {
    flex-basis: 33.3333333333%;
  }

  .col-5-md {
    flex-basis: 41.6666666667%;
  }

  .col-6-md {
    flex-basis: 50%;
  }

  .col-7-md {
    flex-basis: 58.3333333333%;
  }

  .col-8-md {
    flex-basis: 66.6666666667%;
  }

  .col-9-md {
    flex-basis: 75%;
  }

  .col-10-md {
    flex-basis: 83.3333333333%;
  }

  .col-11-md {
    flex-basis: 91.6666666667%;
  }

  .col-12-md {
    flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-0-lg {
    flex-basis: 0%;
  }

  .col-1-lg {
    flex-basis: 8.3333333333%;
  }

  .col-2-lg {
    flex-basis: 16.6666666667%;
  }

  .col-3-lg {
    flex-basis: 25%;
  }

  .col-4-lg {
    flex-basis: 33.3333333333%;
  }

  .col-5-lg {
    flex-basis: 41.6666666667%;
  }

  .col-6-lg {
    flex-basis: 50%;
  }

  .col-7-lg {
    flex-basis: 58.3333333333%;
  }

  .col-8-lg {
    flex-basis: 66.6666666667%;
  }

  .col-9-lg {
    flex-basis: 75%;
  }

  .col-10-lg {
    flex-basis: 83.3333333333%;
  }

  .col-11-lg {
    flex-basis: 91.6666666667%;
  }

  .col-12-lg {
    flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .col-0-xl {
    flex-basis: 0%;
  }

  .col-1-xl {
    flex-basis: 8.3333333333%;
  }

  .col-2-xl {
    flex-basis: 16.6666666667%;
  }

  .col-3-xl {
    flex-basis: 25%;
  }

  .col-4-xl {
    flex-basis: 33.3333333333%;
  }

  .col-5-xl {
    flex-basis: 41.6666666667%;
  }

  .col-6-xl {
    flex-basis: 50%;
  }

  .col-7-xl {
    flex-basis: 58.3333333333%;
  }

  .col-8-xl {
    flex-basis: 66.6666666667%;
  }

  .col-9-xl {
    flex-basis: 75%;
  }

  .col-10-xl {
    flex-basis: 83.3333333333%;
  }

  .col-11-xl {
    flex-basis: 91.6666666667%;
  }

  .col-12-xl {
    flex-basis: 100%;
  }
}

@media (min-width: 1400px) {
  .col-0-xxl {
    flex-basis: 0%;
  }

  .col-1-xxl {
    flex-basis: 8.3333333333%;
  }

  .col-2-xxl {
    flex-basis: 16.6666666667%;
  }

  .col-3-xxl {
    flex-basis: 25%;
  }

  .col-4-xxl {
    flex-basis: 33.3333333333%;
  }

  .col-5-xxl {
    flex-basis: 41.6666666667%;
  }

  .col-6-xxl {
    flex-basis: 50%;
  }

  .col-7-xxl {
    flex-basis: 58.3333333333%;
  }

  .col-8-xxl {
    flex-basis: 66.6666666667%;
  }

  .col-9-xxl {
    flex-basis: 75%;
  }

  .col-10-xxl {
    flex-basis: 83.3333333333%;
  }

  .col-11-xxl {
    flex-basis: 91.6666666667%;
  }

  .col-12-xxl {
    flex-basis: 100%;
  }
}

.container,
.nav-main-navbar {
  width: auto;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .container,
  .nav-main-navbar {
    margin: 0 10px;
  }
}

@media (min-width: 576px) {
  .container,
  .nav-main-navbar {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .nav-main-navbar {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .nav-main-navbar {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .nav-main-navbar {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container,
  .nav-main-navbar {
    width: 1300px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 1.9em;
}

body {
  font-family: Lato, serif;
  background-color: #f7f7f7;
  margin: 0;
  font-size: 1.175rem;
}

:root {
  line-height: 1.428;
}

em {
  text-decoration: underline;
  font-style: normal;
}

.highlight-box {
  box-shadow: 5px 5px 0 #cccccc;
}

.title-icon {
  margin-right: 0.5rem;
}

.title-primary {
  color: #1a88ff;
}

.title-secondary {
  color: #2dbc4e;
}

.title-soft-gray {
  color: #666666;
}

.title-gray {
  color: #4d4d4d;
}

.title-gutters {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.title-inline .title-icon {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  color: #fff;
}

.title-inline.title-primary {
  border-bottom: 3px solid #1a88ff;
}

.title-inline.title-primary .title-icon {
  background: #1a88ff;
}

.title-inline.title-secondary {
  border-bottom: 3px solid #2dbc4e;
}

.title-inline.title-secondary .title-icon {
  background: #2dbc4e;
}

.title-inline-full {
  display: block;
  padding: 0.5rem;
  color: #fff;
}

.title-inline-full.title-secondary {
  background: #2dbc4e;
}

.title-inline-full.title-primary {
  background: #1a88ff;
}

.title-inline-full.title-gradient.title-secondary {
  background: linear-gradient(to right, #2dbc4e, #34ce57);
}

.title-inline-full.title-gradient.title-primary {
  background: linear-gradient(to right, #1a88ff, #3395ff);
}

.title-outline {
  border-width: 1px;
  padding: 0.5rem;
  border-style: solid;
  border-color: #d9d9d9;
}

.title-outline.title-primary {
  color: #1a88ff;
  border-bottom: 4px solid #006fe6;
}

.title-outline-bottom {
  border-style: none;
  border-bottom-style: solid;
}

.title-btn-like {
  box-sizing: content-box;
  border-width: 4px;
  border-bottom-style: solid;
}

.title-btn-like.title-primary {
  border-bottom-color: #0056b3;
}

.title-btn-like.title-danger {
  border-bottom-color: #a71d2a;
}

.title-btn-like.title-secondary {
  border-bottom-color: #19692c;
}

.title > a {
  font-size: inherit;
  text-decoration: inherit;
}

.title > a.primary {
  color: #1a88ff;
}

.title > a.secondary {
  color: #1a88ff;
}

.form-container {
  padding: 1rem 0;
}

.input-checkbox-container {
  display: block;
  position: relative;
  padding-left: 2em;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* ShowBySlug the checkmark when checked */
  /* Style the checkmark/indicator */
  /* Hide the browser's default checkbox */
}

.input-checkbox-container:hover .input-checkbox ~ .input-checkmark:after {
  opacity: 0.5;
}

.input-checkbox-container .input-checkbox:checked ~ .input-checkmark:after {
  opacity: 1;
}

.input-checkbox-container .input-checkbox.success ~ .input-checkmark {
  border: 2px solid #2dbc4e;
}

.input-checkbox-container .input-checkbox.failure ~ .input-checkmark {
  border: 2px solid #e04b59;
}

.input-checkbox-container .input-checkbox.failure ~ .input-checkmark:after {
  border-color: #e04b59;
}

.input-checkbox-container .input-checkbox.proposed ~ .input-checkmark {
  border: 2px solid #1a88ff;
}

.input-checkbox-container .input-checkbox.proposed ~ .input-checkmark:after {
  border-color: #1a88ff;
}

.input-checkbox-container .input-checkmark:after {
  display: block;
  opacity: 0;
  left: 0.3em;
  top: 0em;
  width: 0.45em;
  height: 0.85em;
  border: solid #2dbc4e;
  border-width: 0 0.25em 0.25em 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-checkbox-container .input-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* CreateValidator a custom checkbox */

.input-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.225em;
  width: 1.225em;
  border: 1px solid #b3b3b3;
  /* CreateValidator the checkmark/indicator (hidden when not checked) */
}

.input-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-checkbox-toggler {
  transition: all 0.3s;
}

.input-group .input-multiple-text-container:last-of-type:after {
  content: ".";
}

.input-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.input-singular-text {
  border: none;
  font-size: 1em;
  text-align: center;
  padding: 0.4rem;
  border-bottom: 2px dotted #000;
  background-color: transparent;
  width: 7em;
}

.input-singular-text.half {
  width: 3.5em;
}

.input-singular-text.three {
  width: 10.5em;
}

.input-singular-text.four {
  width: 14em;
}

.input-singular-text.success {
  border-bottom-color: #2dbc4e;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-singular-text.failure {
  border-bottom-color: #e04b59;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-singular-text.proposed {
  border-bottom-color: #1a88ff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-singular-text-container {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.input-multiple-text {
  border: none;
  font-size: 1em;
  text-align: center;
  padding: 0.4rem;
  border-bottom: 2px dotted #000;
  background-color: transparent;
  width: 7em;
}

.input-multiple-text.half {
  width: 3.5em;
}

.input-multiple-text.three {
  width: 10.5em;
}

.input-multiple-text.four {
  width: 14em;
}

.input-multiple-text.success {
  border-bottom-color: #2dbc4e;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-multiple-text.failure {
  border-bottom-color: #e04b59;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-multiple-text.proposed {
  border-bottom-color: #1a88ff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.input-multiple-text-container {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.input-singular-letter {
  font-size: 1em;
  text-align: center;
  padding: 0.4rem;
  border: 1px solid #cccccc;
  background-color: transparent;
  width: 2em;
  display: inline;
}

.input-singular-letter-container {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.input-singular-letter.success {
  border-color: #2dbc4e;
  border-width: 2px;
}

.input-singular-letter.failure {
  border-color: #e04b59;
  border-width: 2px;
}

.input-singular-letter.proposed {
  border-color: #1a88ff;
  border-width: 2px;
}

.input-singular-letter.half {
  width: 1.4em;
}

.input-singular-letter.three {
  width: 3em;
}

.input-singular-letter.four {
  width: 4em;
}

.input-multiple-letter {
  font-size: 1em;
  text-align: center;
  padding: 0.4em;
  border: 1px solid #cccccc;
  width: 2em;
  display: inline;
}

.input-multiple-letter-container {
  display: inline;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.input-multiple-letter.success {
  border-color: #2dbc4e;
  border-width: 2px;
}

.input-multiple-letter.failure {
  border-color: #e04b59;
  border-width: 2px;
}

.input-multiple-letter.proposed {
  border-color: #1a88ff;
  border-width: 2px;
}

.input-multiple-letter.half {
  width: 1.4em;
}

.input-multiple-letter.three {
  width: 3em;
}

.input-multiple-letter.four {
  width: 4em;
}

.input-admin-text {
  display: block;
  padding: 0.5rem;
  font-size: 0.8em;
  width: 100%;
  margin-top: 0.5rem;
}

.input-container:not(:first-child) {
  margin-top: 1rem;
}

.input-container {
  display: block;
}

.input-radio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f2f2f2;
}

.input-radio-checkmark {
  display: none;
}

.input-radio-text {
  color: #000;
  padding: 1rem;
  display: block;
}

.input-radio-checkmark:checked + .input-radio {
  background-color: #2dbc4e;
}

.input-radio-checkmark.proposed:checked + .input-radio {
  background-color: #1a88ff;
}

.input-radio-checkmark:not(:checked):hover + .input-radio {
  background-color: #d9d9d9;
}

.input-radio-checkmark:checked + .input-radio + .input-radio-text {
  color: #fff;
}

.input-radio-checkmark.failure + .input-radio + .input-radio-text {
  background-color: #e04b59;
  color: #fff;
}

.input-radio-container {
  cursor: pointer;
  position: relative;
  display: block;
  z-index: 2;
}

.input-radio-container + .input-radio-container {
  border-top: 1px solid #cccccc;
}

.input-upload {
  display: block;
  margin-top: 0.5rem;
  cursor: pointer;
}

.input-sup {
  -webkit-transform: translateY(-0.7em);
          transform: translateY(-0.7em);
  font-size: 0.8em;
  padding: 0.1em;
}

.input-sub {
  -webkit-transform: translateY(0.4em);
          transform: translateY(0.4em);
  font-size: 0.8em;
  padding: 0.1em;
}

.input-radio-container p,
.input-multiple-text-container p,
.input-singular-text-container p,
.input-singular-letter-container p,
.input-multiple-letter-container p {
  margin: 0;
  display: inline;
}

.button {
  background: none;
  border-width: 2px;
  border-style: solid;
  padding: 0.7rem 1rem;
  font-size: 1em;
  cursor: pointer;
}

.button-widther {
  padding-left: 2rem;
  padding-right: 2rem;
}

.button-primary,
.minimal-card.minimal-card-primary .minimal-card-button {
  border-color: #006fe6;
  color: #006fe6;
}

.button-secondary,
.minimal-card.minimal-card-secondary .minimal-card-button {
  border-color: #23923d;
  color: #23923d;
}

.button-danger {
  border-color: #d32535;
  color: #d32535;
}

.button-inline {
  color: #fff;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 5px;
}

.button-inline.button-primary,
.minimal-card.minimal-card-primary .button-inline.minimal-card-button {
  border-bottom-color: #006fe6;
  background-color: #1a88ff;
}

.button-inline.button-danger {
  border-bottom-color: #d32535;
  background-color: #e04b59;
}

.button-inline.button-secondary,
.minimal-card.minimal-card-secondary .button-inline.minimal-card-button {
  border-bottom-color: #23923d;
  background-color: #2dbc4e;
}

.icon,
.status-item-expander:after,
.status-item-loader:after,
.modal-close,
.questions-sidefix-previous:before,
.questions-sidefix-next:before,
.questions-sidebar-item:after,
.mini-link-go,
.mini-question-toggler,
.pagination-link-first:before,
.pagination-link-last:before,
.pagination-link-next:before,
.pagination-link-previous:before,
.filters-expand-toggler.expand-toggler,
.filters-mobile-toggler:after,
.tag-filters-close-toggle:before,
.tag-filters-toggler:before,
.minimal-card-icon-loading {
  font-style: normal;
  font-size: 1em;
}

.icon-flask:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F0C3";
}

.icon-dna:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F471";
}

.icon-flag:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F024";
}

.icon-sheet:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F15C";
}

.icon-seedling:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F4D8";
}

.icon-home:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F015";
}

.icon-calendar:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F073";
}

.icon-arrow-down:before,
.mini-question-toggler:before,
.filters-expand-toggler.expand-toggler:before,
.tag-filters-toggler:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F107";
}

.icon-arrow-up:before,
.mini-question-toggler.is-expanded:before,
.filters-expand-toggler.expand-toggler.is-expanded:before,
.tag-filters-toggler.is-expanded:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F106";
}

.icon-sliders:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F1DE";
}

.icon-times:before,
.tag-filters-close-toggle:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00D";
}

.icon-buffer:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F837";
}

.icon-user:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F007";
}

.icon-calendar-check:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F274";
}

.icon-info-circle:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F06A";
}

.icon-smile:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F118";
}

.icon-angry:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F556";
}

.icon-meh:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F11A";
}

.icon-suprise:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F5C2";
}

.icon-question:before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F059";
}

.icon-check:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00C";
}

.icon-pencil:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F303";
}

.icon-show:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F06E";
}

.icon-hide:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F070";
}

.article {
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-collapse: collapse;
  padding: 1em 1.5em;
}

.article-body ul li {
  margin-bottom: 0.5rem;
}

.article-no-gutters-top {
  padding-top: 0;
}

.article-no-gutters-top > .article-header {
  margin-top: 1rem;
}

.article-header + .article-body,
.article-header + .article-header {
  margin-top: 0.75em;
}

.article-header-body-glued + .article-body {
  margin-top: 0;
}

.article-header-has-number {
  display: flex;
}

.article-header.article-header-no-margin {
  margin-bottom: 0;
}

.article-title {
  align-self: baseline;
}

.article-title-under-text {
  font-weight: normal;
  font-size: 0.7em;
}

.article-number {
  align-self: baseline;
  font-size: 1.9rem;
  line-height: 1;
  padding: 0.3rem 0.6rem;
  border-radius: 2px;
  color: #fff;
}

.article-number + .article-title {
  margin-left: 0.5rem;
}

.article-number-primary {
  background-color: #006fe6;
}

.article-number-secondary {
  background-color: #23923d;
}

.article-text {
  margin: 0;
}

.article-text-intended p:first-of-type {
  margin: 0;
}

.article-text-intended:first-of-type {
  text-indent: 1rem;
}

.article-text-intended:first-of-type p {
  display: block;
  text-indent: 1rem;
}

.article-primary {
  margin: 2rem 0 0 0;
}

.article-secondary {
  margin: 1rem 0 0 0;
}

.article-button-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.article-button-container-big {
  padding: 1rem 0;
}

.article-button-container-no-gutters {
  margin: 0;
}

.article-button {
  display: block;
  margin-right: 0.5rem;
}

.article-image {
  width: 100%;
}

.article-image-container {
  width: 70%;
  margin-top: 1rem;
  position: relative;
  border: 1px solid #cccccc;
  cursor: pointer;
  transition: width 0.7s ease-in-out;
}

.article-image-container:before {
  z-index: 4;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.article-image-container-half {
  width: 50%;
}

.article-image-container.is-zoomed {
  width: 100% !important;
}

.article-image-container.is-hidden {
  display: none;
}

.article-image-container.is-expanded {
  display: block;
}

.article-list .article:not(:last-child) {
  border-bottom: 0;
}

.section-header {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.section-header-bottom-glued {
  margin-bottom: 0;
}

.section-gutters-left {
  margin-left: 1rem;
}

.card {
  background: white;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.card-header-inline {
  margin: 0.75em 0.75em 0 0.75em;
}

.card-outline {
  border: 1px solid #d9d9d9;
  border-collapse: collapse;
}

.card-no-outline {
  border: none;
}

.card-body {
  margin: 0.75em;
  padding: 0.5em;
}

.card-body-outline {
  padding: 0.75em 1em;
  border: 1px solid #d9d9d9;
}

.card-body-no-gutters {
  padding: 0;
}

.card-primary {
  margin-top: 1em;
}

.card-button {
  padding: 0.75em;
  width: 100%;
  font-size: 1em;
  display: block;
}

@media (min-width: 1200px) {
  .card-container .card-media:first-child {
    margin-right: 1em;
  }
}

.tag {
  color: #fff;
  padding: 0.1rem 0.2rem;
  margin-right: 0.2rem;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 0.2rem;
  font-size: 1em;
  border-color: transparent;
}

.tag:last-child {
  margin-right: 0;
}

.tag-primary {
  background-color: #006fe6;
}

.tag-secondary {
  background-color: #23923d;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.2rem;
}

.header-main {
  position: relative;
  color: white;
  background: #003166;
  z-index: 1;
  text-shadow: 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}

.header-main-logo {
  font-family: Ranchers, serif;
  text-align: center;
  z-index: 1;
  font-size: 5rem;
  padding: 0.5rem 0 0 0;
}

.header-main-description {
  text-align: center;
  z-index: 1;
  margin: 0;
  padding: 0 0 1rem 0;
}

.header-main-image {
  position: absolute;
  background: url(/images/header-hexagonals.jpg?9db2dc1c4885260f7024b97459f8c3b1) no-repeat center top;
  background-size: 100% auto;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nav-main {
  background: #007bff;
  color: #fff;
  box-shadow: inset 0 -5px 5px -5px #000;
}

.nav-main-icon {
  padding-left: 0.5rem;
}

.nav-main-navbar {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 992px) {
  .nav-main-navbar {
    display: flex;
    flex-direction: row;
  }
}

.nav-main-item {
  position: relative;
  padding: 0.5rem 1.5rem;
  text-shadow: 0 0 2px #000;
  text-align: center;
  color: #fff;
}

@media (min-width: 1200px) {
  .nav-main-item:not(:last-child):after {
    position: absolute;
    right: -0.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-weight: 900;
    font-family: "Font Awesome 5 Free", sans-serif;
    content: "\F105";
  }
}

.nav-main-item > a {
  display: block;
  padding: 0.4rem 0;
  color: inherit;
  text-decoration: none;
}

.nav-main-item-disabled {
  text-decoration: line-through;
  color: #f2f2f2;
}

.nav-main-item-disabled > a {
  cursor: default;
}

.breadcrumb {
  color: #fff;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  font-size: 1.1em;
  border-top: 3px solid #1a88ff;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.breadcrumb-icon {
  margin-right: 0.4em;
}

.breadcrumb-icon:after {
  border-right: 1px solid #fff;
  margin-left: 0.5em;
  content: "";
}

.breadcrumb-link {
  text-decoration: none;
  color: #fff;
}

.breadcrumb-item {
  display: inline-block;
  position: relative;
  background-color: #006fe6;
  padding: 0.5em;
  margin: 12px;
}

.breadcrumb-item:not(:first-child) {
  background-color: #1a88ff;
  padding-left: 0.2em;
  padding-right: 0.6em;
}

.breadcrumb-item:before,
.breadcrumb-item:after {
  position: absolute;
  border-width: 1.575rem 0.575rem;
  border-style: solid;
  border-color: #006fe6;
  content: "";
  top: 0;
  bottom: 0;
}

.breadcrumb-item:first-child:before {
  display: none;
}

.breadcrumb-item:first-child:after {
  border-left-color: #006fe6;
}

.breadcrumb-item:after {
  border-color: #1a88ff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  right: -1.125rem;
}

.breadcrumb-item:before {
  border-color: #1a88ff;
  border-left-color: transparent;
  left: -1.125rem;
}

.breadcrumb-item.selected {
  text-decoration: underline;
}

.mini-cards-stats {
  margin-top: 1rem;
}

.mini-cards-body {
  display: none;
}

.mini-cards-body-title {
  margin-top: 0.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #cccccc;
  font-weight: normal;
}

.mini-cards-body.is-visible {
  display: block;
  -webkit-animation: 500ms fadetop;
          animation: 500ms fadetop;
}

.mini-cards .mini-cards-button {
  width: 100%;
  display: block;
  font-size: 1em;
  margin-top: 1rem;
  padding: 1rem 1rem;
}

.stats {
  display: block;
}

.stats-text {
  margin: 0.5rem 0.5rem;
}

.stats-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stats-row + .stats-row {
  margin-top: 0.5rem;
}

.stats-title {
  flex-basis: 20%;
  text-align: right;
  border-right: 1px solid #cccccc;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-bar {
  width: 80%;
  position: relative;
  align-self: center;
  display: flex;
  min-width: 5%;
  z-index: 2;
  padding-left: 1rem;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: load-stat 500ms;
          animation: load-stat 500ms;
}

.stats.stats-primary .stats-progress-bar {
  background-color: #1a88ff;
  border-color: #006fe6;
}

.stats.stats-primary .stats-progress-bar:after {
  border-left-color: #006fe6;
}

.stats.stats-primary .active {
  background: repeating-linear-gradient(45deg, #007bff, #007bff 10px, #1a88ff 10px, #1a88ff 20px);
  background-size: 200% 200%;
  -webkit-animation: barberpole 10s linear infinite;
          animation: barberpole 10s linear infinite;
}

.stats.stats-secondary .stats-progress-bar {
  background-color: #2dbc4e;
  border-color: #23923d;
}

.stats.stats-secondary .stats-progress-bar:after {
  border-left-color: #23923d;
}

.stats.stats-secondary .active {
  background: repeating-linear-gradient(45deg, #28a745, #28a745 10px, #2dbc4e 10px, #2dbc4e 20px);
  background-size: 200% 200%;
  -webkit-animation: barberpole 10s linear infinite;
          animation: barberpole 10s linear infinite;
}

.stats-progress-bar {
  color: #fff;
  border-width: 0;
  border-right-width: 3px;
  border-left-width: 3px;
  border-style: solid;
  display: block;
  text-align: right;
  padding: 0.5rem;
  z-index: 2;
  min-width: 5%;
}

.stats-progress-bar:after {
  position: absolute;
  left: 1.125rem;
  top: 0;
  bottom: 0;
  border-width: 20px 10px;
  border-style: solid;
  border-left-color: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  content: "";
}

.stats-progress-bar:before {
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: -1;
  right: 0;
  bottom: 0;
  border: 1px solid #cccccc;
  content: "";
}

@-webkit-keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

@-webkit-keyframes load-stat {
  from {
    width: 5%;
  }

  to {
    width: 80%;
  }
}

@keyframes load-stat {
  from {
    width: 5%;
  }

  to {
    width: 80%;
  }
}

.calendar-bar {
  border-width: 0;
  border-bottom-width: 3px;
  border-style: solid;
  color: #000;
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
}

.calendar-bar.calendar-bar-primary {
  border-color: #006fe6;
  background-color: #1a88ff;
  color: #fff;
}

.calendar-bar.calendar-bar-primary .calendar-bar-icon {
  border-color: #fff;
}

.calendar-bar.calendar-bar-primary .calendar-bar-item:not(:last-child):after {
  border-color: #006fe6;
}

.calendar-bar.calendar-bar-secondary {
  border-color: #23923d;
  background-color: #2dbc4e;
  color: #fff;
}

.calendar-bar.calendar-bar-secondary .calendar-bar-icon {
  border-color: #fff;
}

.calendar-bar.calendar-bar-secondary .calendar-bar-item:not(:last-child):after {
  border-color: #23923d;
}

.calendar-bar-icon {
  padding: 0.5rem 1rem;
  border-right: 2px solid #000;
}

.calendar-bar-item {
  padding: 0.5rem 1rem;
  position: relative;
  cursor: pointer;
}

.calendar-bar-item:not(:last-child):after {
  position: absolute;
  border-right: 1px solid #000;
  top: 7px;
  bottom: 7px;
  right: 0;
  content: "";
}

.calendar-bar-item.selected:before {
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-width: 12px 15px;
  content: "";
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.calendar-bar-item:not(.selected):hover:before {
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-width: 12px 15px;
  content: "";
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.2;
}

.minimal-card {
  box-shadow: 0 0 5px #b3b3b3;
  border: 5px solid;
  border-top-style: none;
  position: relative;
}

.minimal-card.minimal-card-primary {
  color: #0056b3;
  border-color: #1a88ff;
}

.minimal-card.minimal-card-primary .minimal-card-header {
  background-color: #1a88ff;
}

.minimal-card.minimal-card-primary .minimal-card-body {
  color: #003e80;
}

.minimal-card.minimal-card-primary .minimal-card-title {
  text-shadow: 1px 1px 2px #b3d7ff;
}

.minimal-card.minimal-card-primary .minimal-card-button {
  color: #fff;
}

.minimal-card.minimal-card-secondary {
  color: #19692c;
  border-color: #2dbc4e;
}

.minimal-card.minimal-card-secondary .minimal-card-header {
  background-color: #2dbc4e;
}

.minimal-card.minimal-card-secondary .minimal-card-body {
  color: #0f401b;
}

.minimal-card.minimal-card-secondary .minimal-card-title {
  text-shadow: 1px 1px 2px #9be7ac;
}

.minimal-card.minimal-card-secondary .minimal-card-button {
  color: #fff;
}

.minimal-card-header {
  text-align: center;
}

.minimal-card-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1;
  font-size: 5rem;
}

@media (min-width: 1200px) {
  .minimal-card-media {
    margin-right: 1rem;
  }
}

.minimal-card-body {
  display: flex;
  justify-content: center;
  padding: 4rem 0.5rem;
  border: 5px none;
  color: #003e80;
  background-color: #fff;
}

.minimal-card-option {
  padding: 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.minimal-card-footer {
  padding: 0 1rem 1rem;
  display: flex;
  background-color: #fff;
}

.minimal-card-button {
  font-size: 1.5rem;
  width: 100%;
  display: block;
  padding: 1.5rem;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.minimal-card-number {
  font-size: 3rem;
  font-weight: bold;
}

.minimal-card-description {
  font-size: 1.1rem;
}

.minimal-card-icon-loading {
  position: relative;
}

.minimal-card-icon-loading:after {
  position: absolute;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F110";
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.minimal-card-icon-loading:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F110";
  opacity: 0;
}

.minimal-cards {
  margin-top: 1rem;
}

@media (max-width: 1199.98px) {
  .minimal-cards .minimal-card:not(:first-child) {
    margin-top: 1rem;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.tag-filters {
  overflow-y: hidden;
  max-height: 0;
  transition: max-height 0.8s;
}

.tag-filters-title {
  color: #000;
  padding: 1rem 0;
  position: relative;
  border-bottom: 1px solid #cccccc;
}

.tag-filters-toggler {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 10px;
  padding: 1rem 0;
  cursor: pointer;
  text-align: right;
}

.tag-filters.is-expanded {
  max-height: 200px;
}

.tag-filters-item {
  border: 1px solid #cccccc;
  padding: 0.2rem 0.3rem;
  border-radius: 6px;
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
  display: inline-flex;
}

.tag-filters-icon {
  border-right: 1px solid #cccccc;
  padding: 0.3rem 0.6rem;
}

.tag-filters-group {
  max-width: 60px;
  padding-right: 0.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  display: block;
  transition: max-width 1s ease-in-out;
}

.tag-filters-group:hover {
  max-width: 300px;
}

.tag-filters-close-toggle:before {
  color: #333333;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  cursor: pointer;
}

.filters {
  background-color: #fff;
  border-top: none;
}

@media (max-width: 1199.98px) {
  .filters {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }
}

.filters-wrapper {
  margin-right: 1rem;
  margin-top: 1rem;
  z-index: 4;
  align-self: baseline;
  border: 1px solid #d9d9d9;
  transition: left 0.5s;
  box-sizing: border-box;
}

@media (max-width: 1199.98px) {
  .filters-wrapper {
    position: fixed;
    top: 0;
    margin-top: 0;
    left: -415px;
    width: 410px;
    box-shadow: 0 0 5px #1a1a1a;
    height: 100%;
  }
}

.filters-wrapper.is-expanded {
  left: 0;
}

.filters-icon {
  margin-right: 1rem;
  position: relative;
  padding: 0 1rem 0 0.6rem;
}

.filters-icon:after {
  border-right: 1px solid #fff;
  content: "";
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.filters-body {
  margin-top: 0;
  margin-bottom: 0;
}

.filters-filters {
  margin: 0;
  padding-top: 1rem;
  padding-left: 1rem;
}

.filters-filters-title {
  margin-top: 1rem;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1rem;
}

.filters-filters-title:first-child {
  margin-top: 0;
}

.filters-mobile-toggler {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  right: -30px;
  bottom: 30px;
  width: 4.5rem;
  font-size: 3rem;
  text-align: center;
  -webkit-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
}

@media (min-width: 1200px) {
  .filters-mobile-toggler {
    display: none;
  }
}

.filters-mobile-toggler:after {
  color: #fff;
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F1DE";
}

.filters-mobile-toggler:hover {
  cursor: pointer;
}

.is-expanded .filters-mobile-toggler:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00D";
}

.filters-toggler-container {
  position: relative;
}

.filters-list {
  list-style: none;
  position: relative;
  margin: 0 0 1rem 1rem;
  padding: 1rem 2rem 0.1rem 1rem;
  align-self: baseline;
  border-left: 1px solid #cccccc;
}

.filters-list-item {
  position: relative;
}

.filters-list-item:before {
  position: absolute;
  content: "";
  top: 0.6em;
  left: -1.3rem;
  height: 1px;
  width: 10px;
  background-color: #cccccc;
}

.filters-list .filters-list {
  overflow-y: hidden;
  height: auto;
  padding: 1rem 0 0.1rem 1rem;
  margin-bottom: 1rem;
  margin-left: 0.7em;
}

.filters-list .filters-list:last-child {
  margin-bottom: 1rem;
}

.filters-list:last-of-type {
  margin-bottom: 0;
}

.filters-expand-toggler.expand-toggler {
  position: absolute;
  font-style: normal;
  font-size: 1.4em;
  right: -2.1rem;
  top: 50%;
  padding: 0 0.7rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #333333;
  cursor: pointer;
}

.filters-expand-toggler.expand-toggler-container {
  position: relative;
}

.filters-expand-target.expand-target {
  max-height: 0 !important;
  transition: max-height 0.8s ease-out;
  overflow-y: hidden;
}

.filters-expand-target.expand-target.is-expanded {
  max-height: 500px !important;
}

.filters-buttons {
  border-top: 1px solid #cccccc;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  justify-content: center;
}

.filters-button {
  font-size: 1em;
  flex-basis: 50%;
}

.filters-button:first-child {
  margin-right: 1rem;
}

.pagination {
  margin-bottom: 0.5rem;
  display: flex;
  margin-top: 0.5rem;
  background-color: #f2f2f2;
  margin-left: auto;
  border-radius: 5px;
  justify-content: flex-end;
}

.pagination-result {
  display: block;
  flex-basis: 100%;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 1.1rem;
}

.pagination-item {
  padding: 0.5rem 1rem;
  display: block;
  margin-left: -1px;
  position: relative;
  color: #003e80;
}

.pagination-item:hover {
  background-color: #999999;
}

.pagination-item:hover,
.pagination-item:hover .pagination-link:before {
  color: #fff;
}

.pagination-link-first:before,
.pagination-link-last:before,
.pagination-link-next:before,
.pagination-link-previous:before {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  text-decoration: none;
  color: #003e80;
}

.pagination-link-first:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F100";
}

.pagination-link-last:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F101";
}

.pagination-link-next:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F105";
}

.pagination-link-previous:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F104";
}

.mini-statistic {
  position: relative;
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 0 0 5px 5px;
}

.mini-statistic-icon,
.mini-statistic-value {
  padding: 0.5rem;
  border-top: none;
}

@media (min-width: 1200px) {
  .mini-statistic-right {
    margin-left: auto !important;
  }
}

.mini-statistic-icon {
  border-right: none;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  background-color: #e6e6e6;
  color: #000;
  display: flex;
  border-bottom-left-radius: 5px;
}

.mini-statistic-icon:hover .mini-statistic-icon-description {
  transition: max-width 0.8s 0.1s ease-in-out, margin-left ease-in-out 0.2s;
  margin-left: 0.7rem;
  max-width: 250px;
}

.mini-statistic-icon-description {
  display: inline-block;
  max-width: 0;
  overflow-x: hidden;
  white-space: nowrap;
  transition: max-width 0.8s ease-in-out, margin-left ease-in-out 0.2s 0.7s;
}

.mini-statistic-value {
  color: #0d0d0d;
}

.mini-statistic-container {
  margin-top: -21px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
}

.mini-statistic-container .mini-statistic {
  margin-left: 1rem;
  margin-top: 20px;
}

.question-header {
  margin-top: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #cccccc;
}

.question-body {
  padding: 0.5rem 0 0.5rem;
}

.question-text {
  padding: 1rem 0;
  margin: 0;
}

.question-points {
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  background-color: #1a88ff;
  color: #fff;
}

.question + .question {
  margin-top: 2rem;
}

.checkmark {
  margin-left: 0.5rem;
  padding: 0.5rem;
  color: #fff;
  border: none;
  font-size: 1em;
}

.checkmark-icon {
  padding-right: 0.4rem;
}

.checkmark-check {
  background-color: #f57102;
}

.checkmark-correct {
  background-color: #23923d;
}

.checkmark-wrong {
  background-color: #d32535;
}

.checkmark-container {
  margin-top: 1rem;
  margin-left: -0.5rem;
}

.answer {
  display: block;
  margin-top: 1rem;
  border-top: 1px solid #cccccc;
  padding: 0.5rem 0;
}

.answer-title {
  font-weight: normal;
}

.answer-container {
  margin-top: 1rem;
}

.answer-container .answer + .answer {
  margin-top: 2rem;
}

.answer-table {
  margin-top: 0.5rem;
}

.answer-text {
  margin-bottom: 0.5rem;
}

.answer-text > p {
  margin: 0;
  display: inline;
}

.table {
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 0.5rem;
}

.mini-question {
  display: flex;
  flex-direction: row;
  border: 1px solid #cccccc;
  padding: 0.5rem;
}

.mini-question-number {
  display: inline-block;
  color: #fff;
  background-color: #1a88ff;
  padding: 0.2rem 0.6rem;
  align-self: center;
  font-weight: bold;
}

.mini-question-content {
  display: flex;
  flex-basis: 100%;
  padding-left: 0.5rem;
  align-self: center;
}

.mini-question-content span {
  display: inline;
}

.mini-question-content span + span {
  padding-left: 2rem;
}

.mini-question-stat {
  width: 100%;
  margin: 0 1rem;
}

.mini-question-stat.stat-primary .stats-progress-bar {
  background-color: #1a88ff;
  border-color: #006fe6;
}

.mini-question-stat.stat-primary .stats-progress-bar:after {
  border-left-color: #006fe6;
}

.mini-question-stat.stat-primary .active {
  background: repeating-linear-gradient(45deg, #007bff, #007bff 10px, #1a88ff 10px, #1a88ff 20px);
  background-size: 200% 200%;
  -webkit-animation: barberpole 10s linear infinite;
          animation: barberpole 10s linear infinite;
}

.mini-question-stat-title {
  white-space: nowrap;
}

.mini-question-title {
  font-weight: bold;
  white-space: nowrap;
  align-self: center;
}

.mini-question + .mini-question {
  margin-top: 0.5rem;
}

.mini-question-container {
  padding: 0.5rem 0;
}

.mini-question-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.mini-question-wrapper {
  overflow-y: hidden;
  transition: max-height 1s ease-in-out;
  max-height: 0;
}

.mini-question-wrapper.is-expanded {
  max-height: 2000px;
}

.mini-question .stats-progress-bar {
  padding: 0.2rem;
}

.mini-question .stats-progress-bar:after {
  display: none;
}

.mini-link-go {
  text-decoration: none;
  color: #fff;
  background-color: #1a88ff;
  padding: 0.2rem 0.9rem;
}

.mini-link-go:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F105";
}

.timer {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s ease-in-out, max-height 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;
  overflow-y: hidden;
  max-height: 250px;
  box-sizing: padding-box;
}

.timer-header {
  margin-bottom: 0.5rem;
}

.timer-body {
  display: flex;
  position: relative;
}

.timer-progress-bar {
  background-color: #1a88ff;
  border-color: #006fe6;
}

.timer-progress-bar.active {
  background: repeating-linear-gradient(45deg, #007bff, #007bff 10px, #1a88ff 10px, #1a88ff 20px);
  background-size: 200% 200%;
  -webkit-animation: barberpole 10s linear infinite;
          animation: barberpole 10s linear infinite;
}

.timer-progress-bar:after {
  border-left-color: #006fe6;
}

.timer-progress-bar:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  right: 0;
  bottom: 0;
  border: 1px solid #cccccc;
  content: "";
}

.timer-progress-bar {
  color: #fff;
  border-width: 0;
  border-right-width: 3px;
  border-left-width: 3px;
  border-style: solid;
  display: block;
  text-align: right;
  padding: 0.5rem;
  width: 30%;
  z-index: 2;
}

.timer.hidden {
  display: none;
}

.questions-sidebar {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  padding: 1rem;
}

@media (min-width: 1200px) {
  .questions-sidebar-media {
    margin-right: 1rem;
  }
}

.questions-sidebar-list {
  list-style-type: none;
  padding: 0;
}

.questions-sidebar-item {
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

.questions-sidebar-item:nth-of-type(2n) {
  background-color: #e6e6e6;
}

.questions-sidebar-item.selected {
  background-color: #80bdff;
  color: #fff;
}

.questions-sidebar-item.selected:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F06E";
}

.questions-sidebar-item.done:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F14A";
}

.questions-sidebar-item:after {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F1CE";
}

.questions-sidebar-item.pending:after {
  top: initial;
  -webkit-transform: initial;
          transform: initial;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F110";
}

.questions-sidebar-item.success:after {
  color: #2dbc4e;
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00C";
}

.questions-sidebar-item.failure:after {
  color: #e04b59;
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00D";
}

.questions-sidebar-item.question-mark:after {
  color: #000;
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F059";
}

.questions-sidebar-button {
  width: 100%;
  font-size: 1em;
  padding: 1rem 0.5rem;
}

.questions-sidebar-button.hidden {
  display: none;
}

.questions-sidebar-head {
  background-color: #1a88ff;
  color: #fff;
  padding: 1rem;
  border-bottom: 2px solid #006fe6;
}

.questions-sidefix {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  left: 0;
  right: 0;
  border-top: 1px solid #b3b3b3;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0 15px gray;
  display: flex;
  flex-direction: row;
}

.questions-sidefix-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions-sidefix-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions-sidefix-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions-sidefix-next,
.questions-sidefix-previous {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.questions-sidefix-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.questions-sidefix-item {
  display: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.questions-sidefix-item.selected {
  display: block;
}

.questions-sidefix-description.hidden {
  display: none;
}

.questions-sidefix-points-content {
  color: #1a88ff;
}

.questions-sidefix-next:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F105";
}

.questions-sidefix-previous:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F104";
}

.questions-sidefix.hidden {
  display: none;
}

.questions-sidefix-pending.hidden {
  display: none;
}

.questions-sidefix-finished {
  display: none;
}

.questions-sidefix-finished.is-visible {
  display: block;
}

.questions-sidefix-points {
  display: none;
}

.questions-sidefix-points.is-visible {
  display: block;
}

.questions-collection-item {
  display: none;
}

.questions-collection-item.selected {
  display: block;
  -webkit-animation: fadetop 500ms;
          animation: fadetop 500ms;
}

.questions-collection-with-subfix {
  margin-bottom: 90px;
}

.questions-collection.hidden {
  display: none;
}

@-webkit-keyframes fadetop {
  from {
    margin-top: -20px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes fadetop {
  from {
    margin-top: -20px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* The Close Button */
  /* Modal Content/Box */
}

.modal.is-expanded {
  display: block;
}

.modal.is-expanded .modal-content {
  -webkit-animation-name: animate-top;
          animation-name: animate-top;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal-close {
  color: #b3b3b3;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
}

.modal-close:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F00D";
}

.modal-close:focus,
.modal-close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.modal-content.small {
  width: 40%;
}

.modal-header {
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}

.modal-body {
  padding: 1rem;
}

.modal-title {
  font-weight: bold;
}

/* Add Animation */

@-webkit-keyframes animate-top {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animate-top {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.status {
  display: none;
  background-color: #fff;
  padding: 3rem 1rem;
  font-size: 2rem;
}

.status-item {
  display: none;
  position: relative;
}

.status-item.selected {
  display: block;
  -webkit-animation: fadetop 500ms;
          animation: fadetop 500ms;
}

.status-item-loader {
  position: absolute;
  right: 1em;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.status-item-loader:after {
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F110";
}

.status-item-center {
  text-align: center;
}

.status-item-expander {
  position: relative;
  cursor: pointer;
}

.status-item-expander:after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -1.4em;
  transition: 0.3s bottom ease-in-out;
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\F107";
}

.status-item-expander:hover:after {
  bottom: -1.8em;
}

.status.is-visible {
  display: block;
}

.status.is-expanded {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.result {
  border: 1px solid transparent;
}

.result-container {
  margin-top: 1rem;
  background-color: #fff;
  display: none;
}

.result-container.is-expanded {
  display: block;
  -webkit-animation: fadetop 500ms;
          animation: fadetop 500ms;
}

.result-title {
  font-size: 2rem;
  margin: 1em 0 0.5em 0;
  text-align: center;
}

.result-points {
  text-align: center;
  font-size: 4rem;
  margin: 0.25em 0 0.25em 0;
  color: #1a88ff;
}

.result-points-item-percentage {
  display: block;
  font-size: 0.4em;
}

.result-motivate {
  font-size: 1.2em;
  text-align: center;
}

.result-motivate p {
  margin: 0;
}

.result-buttons {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-button {
  font-size: 1.2em;
  padding: 1em;
}

.mini-result {
  display: none;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #e6e6e6;
}

.mini-result-container {
  margin-top: 1rem;
  -webkit-animation: fadetop 500ms;
          animation: fadetop 500ms;
}

.mini-result-numbers {
  color: #fff;
  white-space: nowrap;
}

.mini-result-bar {
  margin-top: 1rem;
  border: 1px solid #cccccc;
  -webkit-animation: load 1s;
          animation: load 1s;
  display: flex;
}

.mini-result-bar-progress-bar {
  background-color: #1a88ff;
  border-color: #006fe6;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  min-width: 5em;
  overflow-x: hidden;
}

.mini-result-bar-progress-bar:after {
  border-left-color: #006fe6;
}

.mini-result-bar-progress-bar {
  color: #fff;
  border-width: 0;
  border-right-width: 3px;
  border-left-width: 3px;
  border-style: solid;
  display: block;
  text-align: right;
  padding: 0.5rem;
  width: 30%;
  z-index: 2;
}

.mini-result.is-visible {
  display: block;
}

@-webkit-keyframes load {
  from {
    width: 5%;
  }

  to {
    width: 100%;
  }
}

@keyframes load {
  from {
    width: 5%;
  }

  to {
    width: 100%;
  }
}

.image-profile {
  width: 30%;
  border-radius: 100%;
  float: right;
  box-shadow: inset 0 0 5px black;
}

.footer {
  color: #fff;
}

.footer-container {
  background-color: #333333;
  box-shadow: inset 0 7px 9px -7px #000;
}

.footer-head {
  text-align: center;
  margin-top: 1rem;
}

