.button {
  background-color: $gray-90;
  color: $black;
  text-decoration: none;
  padding: 1rem 3rem;
  border: 1px solid $gray-80;
  display: inline-block;
  cursor: pointer;
  font-size: 1em;

  &-container {
    padding: 1rem 0;
  }
}
