.debug {
  display: block;
}

.is-visible.debug, .is-visible .debug {
  padding: .5rem .5rem;
  margin: .5rem .5rem;
}

.is-visible.debug-question .article {
  border: 1px solid $blue;
  background-color: rgba($blue, .2) !important;
}

.is-visible .debug-question-content {
  border: 1px solid $cyan;
  background-color: rgba($cyan, .2) !important;
}

.is-visible .debug-question-substitute {
  border: 1px solid $orange;
  background-color: rgba($orange, .2) !important;
}

.is-visible .debug-input-group {
  border: 1px solid $pink;
  background-color: rgba($pink, .2) !important;
}

.is-visible .debug-tags {
  border: 1px solid $pink;
  background-color: rgba($pink, .2) !important;
}

.debug-input {
  display: inline;
}

.is-visible .debug-input {
  display: block;
  border: 1px solid $purple;
  background-color: rgba($purple, .2) !important;
}

.debug-expander {
  display: block;
  padding: 1rem 0;
  cursor: pointer;
  &-icon {
    @extend .icon;
    padding: .5rem;
    border: 1px solid $gray-80;
    &:after {
      @include icon("eye-slash", "solid");
    }
  }
  &.is-visible {
    .debug-expander-icon {
      &:after {
        @include icon("eye", "solid");
      }
    }
  }
}