.is-visible {
  .editor {
    &-editable {
      position: relative;
      padding-top: 50px;
    }

    &-actions {
      display: block;
      position: absolute;
      top: 0;
      right: 20px;
    }

    &-rewards {
      display: block;
      padding: 1rem;
    }
    &-corrects {
      display: block;
      padding: 1rem;
    }
  }
  .editor-container {
    display: block;
  }
}

.editor-actions {
  display: none;
  z-index: 9;
}

.editor-rewards, .editor-corrects {
  display: none;
  z-index: 9;
  &-item {
    font-size: .8em;
    color: $gray-30;
    display: inline-block;
    margin-right: .2rem;
  }
}

