.form {
  &-container {
    padding: 1rem 0;
  }
  &-ajax {

  }

  &-reset {

  }
}

.input {
  &-container {
    font-size: 1.1rem;
    display: block;
    &:not(:first-child) {
      margin-top: 1rem;
    }

    &-upload {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

  }
  &-text {
    display: block;
    padding: .5rem;
    font-size: .8em;
    width: 100%;
    margin-top: .5rem;
  }

  &-checkbox {
    &-container {
      display: block;
      position: relative;
      padding-left: 2em;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* On mouse-over, add a grey background color */
      &:hover .input-checkbox ~ .input-checkmark:after {
        opacity: .5;
      }

      /* When the checkbox is checked, add a blue background */
      & .input-checkbox:checked ~ .input-checkmark {
      }

      /* ShowBySlug the checkmark when checked */
      & .input-checkbox:checked ~ .input-checkmark:after {
        opacity: 1;
      }

      /* Style the checkmark/indicator */
      & .input-checkmark:after {
        display: block;
        opacity: 0;
        left: .3em;
        top: .0em;
        width: .45em;
        height: .85em;
        border: solid lighten($green, 10%);
        border-width: 0 .25em .25em 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      /* Hide the browser's default checkbox */
      & .input-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }


    }

  }

  /* CreateValidator a custom checkbox */
  &-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.225em;
    width: 1.225em;
    border: 1px solid $gray-70;

    /* CreateValidator the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &-upload {
    display: block;
    margin-top: .5rem;
    cursor: pointer;
  }
}
