.mini-link {
  padding: .6rem .8rem;
  font-size: 1.2em;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: .1rem;
  }

  &-delete {
    background-color: $red;
    color: $white;
    &:after {
      @extend .icon;
      @include icon("trash", "solid");
    }
  }

  &-edit {
    background-color: $orange;
    color: $white;
    &:after {
      @extend .icon;
      @include icon("edit", "regular");
    }
  }

  &-editor {
    background-color: $purple;
    color: $white;

    &:after {
      @extend .icon;
      @include icon("editor", "solid");
    }
  }

  &-plus-square {
    background-color: $pink;
    color: $white;

    &:after {
      @extend .icon;
      @include icon("plus-square", "regular");
    }
  }

  &-show {
    background-color: $green;
    color: $white;

    &:after {
      @extend .icon;
      @include icon("eye", "solid");
    }
  }

  &-sheet {
    background-color: $green;
    color: $white;

    &:after {
      @extend .icon;
      @include icon("sheet", "solid");
    }
  }

  &-reward {
    background-color: $yellow;
    color: $white;

    &:after {
      @extend .icon;
      @include icon("dollar", "solid");
    }
  }

  &-correct {
    background-color: $green;
    color: $white;

    &:after {
      @extend .icon;
      @include icon("square-check", "solid");
    }
  }

  &-tag {
    background-color: $purple;
    color: $white;

    &:after {
      @extend .icon;
      @include icon("tag", "solid");
    }
  }
}