.nav {
  background-color: $gray-20;
  color: $gray-90;
  &-header {
    padding: 1em;
  }

  &-title {
    margin: 0;
  }

  &-body {
    background-color: $gray-10;
  }

  &-list {
    margin: 0;
    padding: 0 0 0 2rem;
    list-style-type: none;
  }

  &-item {
    padding: 1rem 0;
    &.expand-toggler {
      position: relative;
      cursor: pointer;
      &:after {
        position: absolute;
        right: 1rem;
        bottom: 50%;
        transform: translateY(50%);
        @extend .icon;
        @include icon('arrow-up', 'solid');
      }
      &.is-expanded:after {
        @include icon('arrow-down', 'solid');
      }
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid $gray-20;
    }
  }

  &-link {
    text-decoration: none;
    color: $white;
  }

  &-expand-target {
    &.expand-target {
      overflow-y: hidden;
      max-height: 0;

      &.is-expanded {
        max-height: 200px;
      }
    }
  }
}