.table {
  width: 100%;

  tr {
    background-color: $gray-90;
    &:nth-of-type(even) {
      background-color: transparent;
    }
  }

  .table-head {
    background-color: $gray-80;

    th {
      border-bottom: 1px solid $gray-60;
    }

  }

  th, td {
    padding: 1rem;
    border: none;
  }
}