<div class="editor-editable debug debug-question-content">
    <div class="editor-actions">
        <button class="mini-link mini-link-edit modal-expander" data-target="#edit-question-content-{{ $content->id }}"></button>
        <button class="mini-link mini-link-delete" form="question-content-{{ $content->id }}"></button>
        <form id="question-content-{{ $content->id }}" method="post" action="{{ route('sheets.questions.contents.destroy', [$sheet->id, $question->id, $content->id]) }}">
            @csrf
            @method('DELETE')
        </form>
    </div>
    <div id="`edit-question-content-${content.id}`" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edytuj zawartość pytania</h3>
                <button class="modal-close"></button>
            </div>
            <div class="modal-body">
                <form class="form" action="{{ route('sheets.questions.contents.update', [$sheet->id, $question->id, $content->id]) }}" method="post">
                    @csrf
                    @method('PUT')
                    <label class="input-container">
                        Tekst
                        <textarea class="input-admin-text" name="description" id="" cols="30" rows="10">{{ content.description }}</textarea>
                    </label>
                    <div class="button-container">
                        <button class="button" type="submit">Edytuj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div v-if="content.description !== null" class="article-text-intended">
        @markdown(description)
    </div>
    <div v-if="content.image_id !== null" class="article-image-container article-image-container-half">
        <img class="article-image" :src="assetUrl + '/' + content.image.path" alt="">
    </div>
</div>

<script>
    export default {

    }
</script>