.container {
  width: auto;
  margin: 0 auto;
  @include breakpoint-down(sm) {
    margin: 0 10px;
  }
  @include breakpoint-up(sm) {
    width: map_get($container-max-widths, sm);
  }
  @include breakpoint-up(md) {
    width: map_get($container-max-widths, md);
  }
  @include breakpoint-up(lg) {
    width: map_get($container-max-widths, lg);
  }
  @include breakpoint-up(xl) {
    width: map_get($container-max-widths, xl);
  }
  @include breakpoint-up(xxl) {
    width: map_get($container-max-widths, xxl);
  }
}