.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

@each $breakpoint, $value in $grid-breakpoints {
  @include breakpoint-up($breakpoint) {
    .flex-row-#{$breakpoint} {
      flex-direction: row;
    }

    .flex-col-#{$breakpoint} {
      flex-direction: column;
    }
  }
}

.col {
  flex-basis: 100%;

  @for $i from 0 through 12 {
    &-#{$i} {
      @include col($i);
    }
  }

  @each $breakpoint, $value in $grid-breakpoints {
    @include breakpoint-up($breakpoint) {
      @for $i from 0 through 12 {
        &-#{$i}-#{$breakpoint} {
          @include col($i);
        }
      }
    }
  }

}
